<div class="sectionContainer">
<%= form_for @pnr do %><%# Although this form is not used it's presence prevents the standard client-side script from making the wrong asumptions when the user clicks close/cancel. %>

	<div class="sectionHead">
		<h3>Most recent details of PNR <em><%= @pnr.number %></em></h3>
	</div>

	<div class="sectionBody formSurround">

			<%= text_field :booking_date,			:label => 'Booking date',			:readonly => true, :disabled => true, :value => @pnr.booking_date.formatted(:uidate) %>
			<%= text_field :first_flight_date,:label => 'First flight date',:readonly => true, :disabled => true, :value => @pnr.reminder_date.formatted(:uidatetime) %>
			<%= text_field :reminder_date,		:label => 'Reminder date',		:readonly => true, :disabled => true, :value => @pnr.reminder_date.formatted(:uidate) %>
			<%= text_field :flight_count,			:label => 'Number of flights',:readonly => true, :disabled => true, :class => 'widthHalfField' %>
			<%= text_field :client_count,			:label => 'Number of clients',:readonly => true, :disabled => true, :class => 'widthHalfField' %>

			<%= text_field :file_name,				:label => 'AIR file',					:readonly => true, :disabled => true, :class => 'width2Fields' %>
			<%= text_field :file_date,				:label => 'AIR downloaded',		:readonly => true, :disabled => true, :value => @pnr.file_date.formatted(:uidatetime) %>
			<%= text_field :imported_date,		:label => 'AIR imported',			:readonly => true, :disabled => true, :value => @pnr.imported_date.formatted(:uidatetime) %>

			<!-- The error_log field is only included when it has something to tell us -->
			<%= text_area :error_log,				  :label => "#{ tag :span, :class => 'ui-icon ui-icon-alert' } Errors during import", :readonly => true, :disabled => true, :class => 'width2Fields' unless @pnr.error_log.blank? %>

			<!-- Display the original AIR file contents: -->
			<%= tag :blockquote, h( @pnr.data ).gsub(/\n/,'<br/>'), :class => 'amadeus_air' %>

	</div>

	<%= partial 'shared/sectionFoot_with_buttons',

		:foot_class				=> 'formSurround',
		:ui_target				=> :auto,
		:cancel_url				=> resource( :pnrs ),
		:cancel_caption		=> 'Close PNR',
		:cancel_tooltip		=> 'Close PNR and return to PNR list',
		:save							=> false

	%>

<% end =%>
</div>