<%

	# Requires :flights argument.

	# Optional :rows_only argument to omit <table> tags from the output and return <tr> elements only:
	rows_only ||= false

	unless rows_only

-%>

	<table class="flightSchedule" cellpadding="0" cellspacing="0">
		
		<thead>

<% end -%>

			<tr class="flights-table-headings">
				<th colspan="3">Flight</th>
				<th colspan="3">Depart</th>
				<th colspan="2">Arrive</th>
			</tr>

<% unless rows_only -%>

		</thead>

		<tbody>

<% end -%>
		
			<% flights.each do |flight| %>
			<tr class="flights-table-row">
				<%= tag :td, tag( :span, :class => 'ui-icon ui-icon-flight' ) %>
				<%= tag :td, flight.supplier && flight.supplier.name %>
				<%= tag :td, flight.flight_code %>
				<%= tag :td, flight.start_date.strftime("%d %b") %>
				<%= tag :td, flight.start_date.formatted(:uitime) %>
				<%= tag :td, flight.depart_airport && flight.depart_airport.name %>
				<%= tag :td, flight.end_date.formatted(:uitime) %>
				<%= tag :td, flight.arrive_airport && flight.arrive_airport.name %>
			</tr>
			<% end %>

<% unless rows_only -%>

		</tbody>

	</table>

<% end -%>