<!-- Trip form: (Shown on the Trip summary page) -->
<%

	@trip   ||= trip
	
	name_field_label = @trip.is_first_version ? 'Trip title' : 'Version name'
	
	# Customise the list of trip_type options:
	trip_type_list = case @trip.type_id
		when TripType::TOUR_TEMPLATE then TripType.all( :id => TripType::TOUR_TEMPLATE )
		when TripType::FIXED_DEP     then TripType.all( :id => TripType::FIXED_DEP )
		else                              TripType.all( :id => [ TripType::TAILOR_MADE, TripType::PRIVATE_GROUP ] )
	end
	
	# Prepare consultants pick list and ensure trip.user is on it even if they're inactive:
	user_list = User.all( :is_active => true, :order=>[:forename, :name] )
	user_list << @trip.user
	
	
	# Prepare content for the all-client-details mailto link:
		email_all = @trip.new? ? nil : {
			:subject	=> 'Client details',
			:body			=> @trip.clients.map{|c| '%0A' + partial('clients/traveller_summary',:client=>c) }.join('%0A')
		}
	
-%>

<%= hidden_field :version_of_trip_id,		:value => @trip.version_of_trip_id.to_i unless trip.tour %>
<%= hidden_field :tour_id,							:value => @trip.tour_id || params[:tour_id] %>
<%#= hidden_field :name => 'client_id',	:value => @trip.context.id %>

<% case when @trip.type_id == TripType::TOUR_TEMPLATE %>
	<h4 style="margin:0 0 1em 9em;">This trip is a template for a group: <em><%= @trip.tour ? @trip.tour.name : 'that has been deleted!' %></em></h4>
<% when @trip.type_id == TripType::FIXED_DEP %>
	<h4 style="margin:0 0 1em 9em;">This fixed departure was based on a group template: <em><%= @trip.tour ? link_to( @trip.tour.name, resource(@trip.tour) ) : 'that has been deleted!' %></em></h4>
<% end %>

<!-- Trip form fields: -->
<table cellpadding="0" cellspacing="0">
<tbody>

	<tr>

		<td colspan="2">
			<!-- "Trip title" when first version or "Version name" when subsequent versions: -->
			<%= text_field :name,  :label => name_field_label, :class => 'summary width2Fields' %>
		</td>
		<td><%= text_field	:adults,			:label => 'Adults',				:maxlength => 2, :class => 'widthHalfField spinbox spinboxMin1' %></td>

	</tr>

	<tr>
		<td><%= text_field	:start_date,	:label => 'Start date',	:value => @trip.start_date.formatted(:uidate), :class => 'date start-date travel-date dtstart', :fieldClass => 'fieldFlowHoriz' %></td>
		<td><%= select			:user_id,			:label => 'Handled by',	:selected => @trip.user_id.to_s, :collection => user_list, :value_method => :id, :text_method => :display_name, :prompt => '- Choose user' %></td>
		<td><%= text_field	:children,		:label => 'Children',		:maxlength => 2, :class => 'widthHalfField spinbox spinboxMin0' %></td>

		<!-- Total count of trip members: -->
		<!--<td rowspan="4">
			<div class="total-trip-travellers-box">
				<div class="total trip-travellers"><%= @trip.travellers %></div>Travellers
			</div>
		</td>-->

	</tr>

	<tr>
		<td><%= text_field	:end_date,		:label => 'End date',		:value => @trip.end_date.formatted(:uidate), :class => 'date end-date travel-date dtend', :fieldClass => 'fieldFlowHoriz' %></td>
		<td><%= select			:company_id,	:label => 'Invoice as', :collection => Company.all(:is_active=>true), :value_method => :id, :text_method => :name, :prompt => '- Choose company' %></td>
		<td><%= text_field	:infants,			:label => 'Infants',		:maxlength => 2, :class => 'widthHalfField spinbox spinboxMin0' %></td>
	</tr>

	<tr>
		<td><%= text_field								:label => 'PNR numbers',	:name => 'trip[pnr_numbers]',	:value => @trip.pnr_numbers.join(', ').upcase , :title => 'Flights will be added and updated automatically when you provide a PNR number here. Use a comma between each PNR number if you need to enter more.', :class => 'uppercase' unless @trip.new? || @trip.tour %></td>
		<td><%= select			:type_id,			:label => 'Type of trip',	:collection => trip_type_list, :value_method => :id, :text_method => :name %></td>
		<td><%= text_field	:singles,			:label => 'Single supps',			:readonly => false, :class => 'widthHalfField spinbox', :title => 'Tick clients below to set the number of singles' %></td>
		</tr>
		
		<tr>
		<td colspan="2">
		<br/>
		</td>
		</tr>
	
	<tr>

		<td colspan="2">
			<!-- Trip countries: -->
			<h4>
				<%= icon :flight %> Visiting
			</h4>
			<%= partial 'trips/countries', :trip => @trip, :field_prefix => 'trip' %>
		</td>

		<!-- List of trip members: -->
		<td colspan="2" style="padding-left:2em;">

			<h4>
				<span class="ui-icon ui-icon-group"></span>
				Clients on this trip
			</h4>

			<div class="fieldset">

				<table class="tripTravellers" cellspacing="0" cellpadding="0">

					<thead>
						<tr>
							<th>
								<% unless @trip.new? -%>
									<label class="xui-helper-hidden-accessible">Add another:</label>
									<input type="text" class="trip-client-search" placeholder="Client search">
								<% end -%>
							</th>
							<th title="Create a letter document"><span class="vertical">Create letter</span></th>
							<th title="Create email with all client details"><span class="vertical"><%= trip.clients.empty? || !email_all ? 'Email details' : link_to('Email details', "mailto:&#{ email_all.to_params }") %></span></th>
							<th title="Requires single room"		><span class="vertical">Single</span></th>
							<th title="Who to send documents to (Primary contacts)"><span class="vertical">Primary</span></th>
							<th title="Who to send invoices to"	><span class="vertical">Invoicable</span></th>
							<th title="Who has confirmed"				><span class="vertical">Confirmed</span></th>
							<th title="Remove from trip"				><span class="vertical">Remove</span></th>
						</tr>
						
					</thead>
	
					<tbody>

						<!-- NOT a script but a client-side HTML MICRO-TEMPLATE used when browser script adds clients to trip: -->
						<script type="text/html" class="template" id="trip-traveller-row-template">

							<%= partial 'trips/trip_clients', :trip => @trip, :html_template => true %>

						</script>

						<!-- One row for each client on the trip: -->
						<% if @trip.new? && @trip.clients.length > @trip.trip_clients.length %>

							<% @trip.clients.each_with_index do |client,index| %>
								<%= partial 'trips/trip_clients', :client => client, :trip => @trip, :index => index %>
							<% end %>

						<% else %>

							<% @trip.trip_clients.each_with_index do |trip_client,index| %>
								<%= partial 'trips/trip_clients', :trip_client => trip_client, :trip => @trip, :index => index %>
							<% end %>

						<% end %>

					</tbody>
						
					<% if @trip.new? %>
						<tfoot>
							<tr><td colspan="6"><br/>You can add clients here after saving this new trip</td></tr>
						</tfoot>
					<% end %>

				</table>

				</div>
		</td>
	</tr>

</tbody>
</table>
