<%
	# Trip timeline AKA Trip Builder

	trip						||= @trip
	
	elements					= trip.trip_elements
	earliest_element	= trip.earliest_element
	
	days = trip.days

-%>

<!-- Timeline CONTENT: -->
<div class="sectionContainer sectionContainerTop noSectionHead">

	<div class="sectionBody timelineContent">
	<dl class="timelineContentWide days<%= days.length %>">

		<dd class="timelineScale">
		<ul>
			<% days.each do |day| %>
			<li class="timelineElement scaleDay day<%= day.number %>" title="Day <%= "#{ day.number }: #{ day.date.formatted(:uidisplay) }" %>">
				<span class="day">Day <%= day.number %></span>
				<span class="date"><%= day.date.strftime('%a %d') %></span>
			</li>
			<% end %>
		</ul>
		</dd>

		<dt class="timelineSwimlaneHead isFlight">
			<%= link_to 'Flight', nested_resource( trip, :trip_elements, :new, :type => 'flight' ), :rel => '.tripElementFormContainer', :title=>'Add a flight element' %>
		</dt>
		<dd class="timelineSwimlane">
			<ul class="timelineElements isFlight days<%= days.length %>"><!-- Note: UL.daysX css class is used by the js $.fn.timelineOverview() method to derive trip length. -->
				<%= partial 'trip_elements/timeline_elements', :elements => trip.flights %>
			</ul>
		</dd>

		<dt class="timelineSwimlaneHead isAccomm">
			<%= link_to 'Accomm', nested_resource( trip, :trip_elements, :new, :type => 'accomm' ), :rel => '.tripElementFormContainer', :title=>'Add an accommodation element' %>
		</dt>
		<dd class="timelineSwimlane">
			<ul class="timelineElements isAccomm days<%= days.length %>">
				<%= partial 'trip_elements/timeline_elements', :elements => trip.accomms %>
			</ul>
		</dd>

		<dt class="timelineSwimlaneHead isGround">
			<%= link_to 'Ground', nested_resource( trip, :trip_elements, :new, :type => 'ground' ), :rel => '.tripElementFormContainer', :title=>'Add a ground element' %>
		</dt>
		<dd class="timelineSwimlane">
			<ul class="timelineElements isGround days<%= days.length %>">
				<%= partial 'trip_elements/timeline_elements', :elements => trip.grounds %>
			</ul>
		</dd>

		<dt class="timelineSwimlaneHead isMisc">
			<%= link_to 'Misc', nested_resource( trip, :trip_elements, :new, :type => 'misc' ), :rel => '.tripElementFormContainer', :title=>'Add a miscellaneous element' %>
		</dt>
		<dd class="timelineSwimlane">
			<ul class="timelineElements isMisc days<%= days.length %>">
				<%= partial 'trip_elements/timeline_elements', :elements => trip.miscs %>
			</ul>
		</dd>

	</dl>
	</div>

	<div class="sectionFoot timelineOverview">
		<!-- This has been replaced by a javascript generated Overview -->
		<!--
		<ul class="tripBuilder timelineElements isFlight days<%= days %>">
			<%#= partial "trip_elements/timeline_elements", :isOverview => true, :elements => trip.trip_elements.all( TripElement.element_type.code => "flight" ) %>
		</ul>
		<ul class="tripBuilder timelineElements isGround days<%= days %>">
			<%#= partial "trip_elements/timeline_elements", :isOverview => true, :elements => trip.trip_elements.all( TripElement.element_type.code => "ground" ) %>
		</ul>
		<ul class="tripBuilder timelineElements isAccomm days<%= days %>">
			<%#= partial "trip_elements/timeline_elements", :isOverview => true, :elements => trip.trip_elements.all( TripElement.element_type.code => "accomm" ) %>
		</ul>
		<ul class="tripBuilder timelineElements isMisc days<%= days %>">
			<%#= partial "trip_elements/timeline_elements", :isOverview => true, :elements => trip.trip_elements.all( TripElement.element_type.code => "misc" ) %>
		</ul>
		-->
	</div>
	
</div>


<!-- Timeline element form container: -->
<div class="sectionContainer sectionContainerBottom noSectionHead noSectionFoot">
<div class="sectionBody tripElementFormContainer">


	<%# Standard empty content below the timeline: %>

	<% if ( element ||= @element ||= nil ).nil? || element.destroyed? %>

		<% if trip.trip_elements.empty? %>
			<p>Click a green plus (+) above to add your first element to this trip.</p>
		<% else %>
			<p>Click a trip element above to modify it.</p>
		<% end %>

	
	
	<%# Otherwise show specific element below the timeline because we're creating or updating it: %>
	
	<% elsif element.new? %>

		<!-- We have a trip_element to create: -->
		<%= partial 'trip_elements/new',  :element => element %>

	<% else %>

		<!-- We have a trip_element to edit: -->
		<%= partial 'trip_elements/edit', :element => element %>

	<% end %>


</div>
</div>