<%
	trips	||= @trips
	client ||= @client
-%>

<dl class="accordion clientSummaryTrips width2Fields">

	<% trips.all( :order=>[:start_date.desc] ).each do |trip| %>

	<dt class="clientSummaryTrip">
	
			<span class="tripName"><%= trip.title %></span>

			<small>
				(&pound;<span class="tripTotalSpend"><%= trip.total_spend %></span>)
				 <%= trip.month %>
			</small>

			<small><%= trip.status.name %></small>

			<small><%= trip.countries_names.join(', ') %></small>

	</dt>

	<dd>

		<% if trip.flights.empty? %>
			<p>This trip has no flight elements</p>
		<% else %>
			<%= partial 'trips/flights_table', :flights => trip.flights %>
		<% end %>

	</dd>

	<% end %>


<% if trips.length == 0 %>

	<dt>This client has no trips</dt>
	<dd><p>
		<%= link_to 'Create the first trip', resource( client, :trips, :new ), :class => 'new' %>
	</p></dd>

<% end %>

</dl>

