<%

  tour			  		||= @tour
  client					||= @client
	client_or_tour	||= @client_or_tour || @tour || @client
  trip						||= @trip
	trip							= trip.active_version if trip.active_version	# Ensure we always display the currently active version!
  trip.context		||= client_or_tour			# TODO: Allow for Tour context instead of Client context!

  # versions_list = trip.versions sorted and formatted as a an array of key/value array pairs:
	versions_count = trip.versions.length
  versions_list  =  []
	active_version_number =	1
	
  trip.versions.all( :order => [:id] ).each_with_index do |version,i|
		versions_list << [ version.id, "v#{ i+1 }: #{ version.version_name }#{ ' (active version)' if version.is_active_version }" ]
		active_version_number = i+1 if version.is_active_version
	end	
	versions_list = { 'Versions of this trip:' => versions_list }
	versions_list['Add another:'] = [ [ 'new', "+ Create a #{ (versions_count+1).ordinalize } version (copy elements from version #{ active_version_number })" ] ]
		

-%>

<!-- _trip_page: -->
<div class="tripPage sectionContainer noSectionFoot tabsContainer" id="<%= nested_resource(trip,true) %>">

  <div class="sectionHead">

    <!-- Trip name and on-line-summary: -->
    <h3 class="tripHeading">
      <%= icon trip.tour ? :group : :trip %>
			<span class="tripName">
        <%= trip.title %>
      </span>
      <small class="hidden">
        (&pound;<span class="tripTotalSpend"><%= trip.total_price.to_i %></span>)
      </small>
      <small>
         <%= trip.summary %>
      </small>
    </h3>

		<!-- These fields are used by javascript to identify specific attributes of the trip: -->
		<%= hidden_field :name => 'trip_id',		:value => trip.id			%>
		<%= hidden_field :name => 'trip_name',	:value => trip.name		%>
		<%= hidden_field :name => 'trip_title',	:value => trip.title	%>

		<% unless trip.type_id == TripType::TOUR_TEMPLATE %>
			<!-- This picklist has a custom href attribute used for deriving the resource url of the chosen version.
					 Eg: When href="/clients/1234/trips/{value}" and selected value="1122" then url is derived as "/clients/1234/trips/1122"
			-->
			<%= form_for trip, :action => nested_resource(client_or_tour,trip) do %>
				<div class="tripVersion">
					<%= select :active_version_id, :label => "Active version:", :collection => versions_list, :selected => trip.id.to_s, :class=>"auto-submit tripVersion width2Fields stealth", :readonly => true %>
				</div>
			<% end =%>
		<% end %>

    <ul class="tripPageTabsNav">
			<%# TODO: Get resource(client_or_tour,trip,:builder) etc to work instead of explicitly assembling urls here: %>
      <li class="dummy hidden"><a href="#<%= nested_resource(trip,true) %>dummy"></a></li>
      <li class="ui-tabs-selected">
				  <a href="<%= resource( client_or_tour, trip, :edit ) %>"			>Trip summary</a></li>
      <li><a href="<%= resource( client_or_tour, trip ) %>/builder"			>Trip builder</a></li>
      <li><a href="<%= resource( client_or_tour, trip ) %>/itinerary"		>Itinerary preview</a></li>
      <li><a href="<%= resource( client_or_tour, trip ) %>/costings"		>Costings</a></li>
      <li><a href="<%= resource( client_or_tour, trip ) %>/money_ins/new" class="<%= 'hidden' if trip.tour_template? %>">Invoice</a></li>
      <li><a href="<%= resource( client_or_tour, trip ) %>/money_outs"	>Suppliers</a></li>
      <!--<li class="hidden"><a href="#<%= nested_resource(client_or_tour,trip,true) %>charities"  >Charities</a></li>-->
			<!-- TODO: Make tabs work without needing at least one non-ajax tab! -->
    </ul>

  </div>
	<!-- end of _tripPage sectionHead -->

  <div class="tripPageTabsContent sectionBody">
 
		<!--<div id="<%= nested_resource(client_or_tour,trip,true) %>dummy" class="hidden">
		</div>-->
 
		<div id="<%= nested_resource(client_or_tour,trip,true) %>charities" class="hidden">
			TODO: Charities
		</div>

		<!-- Tab contents loaded here via ajax: -->

  </div>
	<!-- end of _tripPage sectionBody -->

</div>
