<%
	# This is the ITINERARY PREVIEW page.
	# See trip.itinerary.css for style rules.
-%>

<div class="sectionBody itineraryPreview">

	<%= partial 'trips/itinerary/heading', :trip => @trip %>

	<div>
		<dl class="">

			<dt id="<%= nested_resource(@client_or_tour,@trip,true) %>quickItinerary">
				Quick reference itinerary
			</dt>
			<dd>
				<%= partial 'trips/itinerary/quick_reference', :trip => @trip %>
			</dd>

			<dt id="<%= nested_resource(@client_or_tour,@trip,true) %>flightSchedule">
				Your flights schedule
			</dt>
			<dd>
				<%= partial 'trips/itinerary/flight_schedule', :trip => @trip %>
			</dd>

			<dt id="<%= nested_resource(@client_or_tour,@trip,true) %>detailedItinerary">
				Detailed trip itinerary
			</dt>
			<dd>
				<%= partial 'trips/itinerary/detailed_reference', :trip => @trip %>
			</dd>

		</dl>
	</div>

</div>


<div class="sectionFoot ui-widget">

	<div class="buttonBar ui-dialog-buttonpane ui-widget-content xui-widget-header ui-corner-all ui-helper-clearfix">

		<div class="left">
			Jump to:
			<%= link_to 'Top of page',				"##{ nested_resource(@client_or_tour,@trip,true) }topOfItinerary",		:class => 'scrollTo ui-state-default ui-corner-all ui-priority-secondary' %>
			<%= link_to 'Quick itinerary',		"##{ nested_resource(@client_or_tour,@trip,true) }quickItinerary",		:class => 'scrollTo ui-state-default ui-corner-all ui-priority-secondary' %>
			<%= link_to 'Detailed itinerary',	"##{ nested_resource(@client_or_tour,@trip,true) }detailedItinerary", :class => 'scrollTo ui-state-default ui-corner-all ui-priority-secondary' %>
			<%= link_to 'Flight schedule',		"##{ nested_resource(@client_or_tour,@trip,true) }flightSchedule",		:class => 'scrollTo ui-state-default ui-corner-all ui-priority-secondary' %>
		</div>


		<%
			# Dummy document just to help us generate form fields to submit when generating a doc:
			@document = Document.new(
				:trip_id										=> @trip.id,
				:client_id									=> params[:client_id],
				:company_id									=> @trip.company_id,
				:user_id										=> @trip.user_id,
				:generate_doc_after_create	=> true,
				:generate_doc_later					=> true
			)
		%>



		<% unless @trip.tour_template? %>

			<!-- Button to generate CONTACT SHEET DOCUMENT: -->
			<%= form_for @document, :action => resource(:documents) do %>

				<% @document.document_type_id	= DocumentType::CONTACT_SHEET %>
				
				<%= hidden_field :name => 'redirect_to', :value => "#{ resource(@client_or_tour,@trip) }/itinerary" %>
				<%= hidden_field :trip_id %>
				<%= hidden_field :client_id %>
				<%= hidden_field :company_id %>
				<%= hidden_field :user_id %>
				<%= hidden_field :document_type_id %><!-- CONTACT_SHEET -->
				<%= hidden_field :generate_doc_after_create %>
				<%= hidden_field :generate_doc_later %>

				<%= submit "Generate contacts doc", :class => "save ui-priority-secondary ui-state-default" %>

			<% end =%>



			<!-- Button to generate ITINERARY DOCUMENT: -->
			<%= form_for @document, :action => resource(:documents) do %>

				<% @document.document_type_id	= DocumentType::ITINERARY %>

				<%= hidden_field :name => 'redirect_to', :value => "#{ resource(@client_or_tour,@trip) }/itinerary" %>
				<%= hidden_field :trip_id %>
				<%= hidden_field :client_id %>
				<%= hidden_field :company_id %>
				<%= hidden_field :user_id %>
				<%= hidden_field :document_type_id %><!-- ITINERARY -->
				<%= hidden_field :generate_doc_after_create %>
				<%= hidden_field :generate_doc_later %>

				<%= submit "Generate itinerary doc", :class => "save ui-priority-primary ui-state-default" %>

			<% end =%>

		<% end %>
	
	</div>
</div>