<%

	client ||= @client if @client
	notes  ||= @notes					        # Either provide a notes array or we derive it from client
	notes  ||= client.notes if client	# client is required to generate link to notes/new
	
	# Custom sort because Ruby cannot compare Booleans for sorting:
	notes    = notes.all( :order => [ :created_at.desc] ).sort!{|a,b| ( a.is_favourite ? 0 : 1 ) <=> ( b.is_favourite ? 0 : 1 ) }
	
	add_note_label = notes.empty? ? 'Be the first to add a note' : 'Add another note'
	
	ui_target    ||= "##{ nested_resource(client,true) }notes"

-%>

<div class="sectionBody">

	<% if notes.empty? %>
		
		<p class="muted">No notes :(</p>
	
	<% else %>
		
		<table>

			<% notes.each do |note| %>
			<tr id="note<%= note.id %>" class="<%= 'not-' unless note.favourite? %>favourite">
				<td>
				  <a href="<%= resource( note.client, note ) %>/<%= note.favourite? ? 'unfavourite' : 'favourite' %>" tabindex="-1">
					  <span class="ui-icon"></span>
					</a>
				</td>
				<td class="nowrap">
					<%
						tooltip			= "Created: #{ note.created_at.formatted(:uidatetime) }"
						tooltip			= "Last modified: #{ note.updated_at.formatted(:uidatetime) } #{ tooltip }" unless note.updated_at == note.created_at
						ui_target	||= "##{ nested_resource(note.client,true) }notes"
					%>
					<small title="<%= tooltip %>" class="note_updated_at"><%= note.updated_at.formatted(:uidate) %></small>
				</td>
				<td class="note-text">
				  <% note_text = ( note.name.blank? ? '(Empty)' : note.name ).gsub(/\n/,'<br/>') %>
					<%= link_to note_text, resource( note.client, note, :edit), :"data-target" => "#{ ui_target }", :class => '' %>
				</td>
			</tr>
			<% end %>

		</table>

	<% end %>

</div>

<div class="sectionFoot ui-widget">
	<div class="buttonBar ui-dialog-buttonpane ui-widget-content">
		<%= link_to add_note_label, resource(client, :notes, :new), :rel => ui_target, :class=>'ajax new ui-priority-secondary ui-state-default left' %>
	</div>
</div>