<%

	brochure_requests ||= @brochure_requests
	
	# We should be able to derive the client from the url but if not then choose user's most recent client:
	client ||= params[:client_id].to_i.zero? ? session.user.most_recent_client : Client.get( params[:client_id] )

-%>

<div class="sectionContainer noSectionHead">
	<div class="sectionBody">
	
		<table>
			<tbody>
				<% brochure_requests.each do |brochure| %>
					
					<tr>
						<td title="<%= brochure.requested_date.formatted(:uidatetime) %>">
							<%= link_to brochure.requested_date.formatted(:uidate), resource( brochure.client, brochure, :edit ) %>
						</td>
						<td>
							<%= brochure.company.name %>
						</td>
						<td><%= brochure.notes.blank? ? '(No notes were entered)' : brochure.notes %></td>
						<!--<td><%#= brochure.description %></td>-->
					</tr>
					
				<% end -%>
			</tbody>
		</table>

	</div>
	
	<%= partial 'shared/sectionFoot_with_buttons', :add_caption => "Add a brochure request for #{client.shortname}...", :add => true, :add_url => resource( client, :brochure_requests, :new ), :cancel => false, :save => false %>

</div>
