<%

	readonly			= !@brochure_request.generated_date.nil?
	return_to			= { :return_to => params[:return_to] }
	
	company_name  = @brochure_request.company && @brochure_request.company.name || ''
	client_name		= @brochure_request.client && " from #{ @brochure_request.client.fullname  }" || ''
	
	save_space = !!params[:client_id]
	
%>
	
<div class="sectionContainer <%= save_space ? 'noSectionHead' : '' %>">

	<% unless save_space %>
		
		<div class="sectionHead indentSurround">
			<%= tag :h2, "#{ icon 'mail-open'} #{ company_name } brochure request #{ client_name }" %>
		</div>

	<% end -%>

		<%= form_for @brochure_request, :action => resource( @brochure_request.client, @brochure_request, return_to ) do %>

			<div class="sectionBody <%= save_space ? '' : 'formSurround indentSurround' %>">

				<%= partial 'brochure_requests/form', :brochure_request => @brochure_request %>

			</div>

			<!-- sectionFoot: -->
			<%= partial 'shared/sectionFoot_with_buttons',
					:save						=> !readonly,
					:save_caption		=> 'Save my changes',
					:cancel_caption => readonly ? 'Back to list of brochure requests' : 'Cancel without saving',
					:cancel_url			=> params[:return_to] || resource( @brochure_request.client, :brochure_requests ),
					:ui_target			=> :auto
			%>

		<% end =%>
	
</div>