<%

	element ||= @element
	delete_button_id = "#{ nested_resource( element, true ) }Delete"
	
%>
<div class="sectionContainer is<%= element.element_type.code.capitalize %>" >

<%= form_for element, :action => nested_resource(element) do %>

	<!-- sectionHead and sectionBody: -->
	<%= partial "trip_elements/form", :element => element, :edit => true %>

	<div class="sectionFoot">
		<div class="buttonBar ui-dialog-buttonpane ui-widget-content xui-widget-header ui-corner-all ui-helper-clearfix">

			<% unless element.is_slave? && element.master_element %>

				<%= submit 'Save details', :rel => "##{ nested_resource( element.trip, true ) }Builder", :class => 'save ajaxBlank ui-priority-primary ui-state-default' %>

			<% end %>

			<% if element.bound_to_pnr? %>
				
				<div class="left"> &nbsp; <%= icon :attention, :text => icon(:locked) %> This flight is defined by a PNR so some fields may not be modified.</div>

			<% elsif element.is_slave? && element.master_element %>

				<div class="left"> &nbsp; <%= icon :attention, :text => icon(:locked) %> This element is controlled by the Group Trip Template so you won&apos;t be able to modify it here.</div>

			<% else %>

				<!-- This cunning "Delete" label looks like a button but actually activates the delete button below: -->
				<%= tag :label, "#{ icon :delete } Delete this element", :for => delete_button_id, :class => 'ui-priority-secondary ui-state-default left' %>

				<% if element.is_slave? && !element.master_element %>
					<!-- Allow for linked element who's master element has been deleted: -->
					<div class="left"> &nbsp; <%= icon :alert %> This element was controlled by the Group Trip Template but the original element no longer exists.</div>
				<% end -%>

			<% end -%>

			<% unless element.is_slave? %>

				<div class="left"> &nbsp; <%= icon :attention, :text => element.slave_elements.count %>client trip elements are linked to this template element.</div>

			<% end %>

		</div>
	</div>
		
<% end =%>

	<!-- This invisible delete form has to be outside the edit form. Button is "clicked" by the delete-label above! -->
	<%= delete_button "#{ nested_resource(element) }", "Delete this element", :id => delete_button_id, :class => "hidden delete ajaxBlank", :rel => '.ajaxPanel' %>

</div>