<%
# Template for each row in the trip_elements grid.
	
	trip_element	||= TripElement.new		# New element is used when rendering a new-row template.
	airports			||= Airport.all( :order => [:code,:name] )

	airlines			||= Supplier.all( :type_id => Supplier::FLIGHT,  :order => [:name,:code] )
	handlers			||= Supplier.all( :type_id => Supplier::HANDLER, :order => [:name] )
	
	field_index		||= "#{ ( Time.now.to_f * 1000 ).to_i }-#{ rand(1000) }"
	field_prefix	||= 'trip[trip_elements_attributes]'
	field_prefix		= "#{ field_prefix }[#{ field_index }]"

	isValidAirlineCode = /^([A-Z][A-Z]|[A-Z][0-9]|[0-9][A-Z])/
	
	airline_prompt  = FakeListItem.new('(Choose)')
	handler_prompt  = FakeListItem.new('(Choose)')
	show_more_airlines_url    = resource( :suppliers, :list => 'option', :type_id => Supplier::AIRLINE )
	show_more_airlines_prompt = FakeListItem.new( '+ Show more...', show_more_airlines_url )

	# Build the airlines pick list with suggestions at the top if possible:
	airline_code   =  trip_element.flight_code =~ isValidAirlineCode ? trip_element.flight_code.slice(0,2) : nil
	selected_airlines  = airlines.all( :id   => trip_element.supplier_id || -1   )
	suggested_airlines = airlines.all( :code => airline_code             || '00' )
	show_more_airlines = selected_airlines.push(show_more_airlines_prompt)
	
	airlines_list  = {}
	airlines_list['Suggestions:'] = suggested_airlines unless suggested_airlines.empty?
	airlines_list['Airlines:']    = trip_element.supplier_id.to_i > 0 ? show_more_airlines : airlines.all
	airlines_list['Airlines:'].unshift(airline_prompt) unless trip_element.supplier_id.to_i > 0

	# When the element has no handler set, do our best to select the 'Pay airline' item instead:
	# (This is overcomplicated not only because we allow for missellings and extra spaces but also because DM's identity map is case-sensitive.
	pay_airline = handlers.first( :name.like => '%?ay %?irline' )
	default_handler_id = trip_element.handler_id.to_i > 0 ? trip_element.handler_id : pay_airline.id
	
%>

<%= fields_for trip_element do %>

	<tr class="<%= trip_element.new? ? 'create' : 'update' %>">
	
	<!-- Flight id & code: -->
	<td>
		<%= icon :add,    :class => 'create', :title => 'This flight will be added to the trip when you click Ssave changes' %>
		<%= icon :flight, :class => 'update', :title => 'Any changes you make to this flight will be saved when you click Save changes' %>
		<%= icon :delete, :class => 'delete', :title => 'This flight will be deleted from the trip when you click Save changes' %>

		<%= hidden_field :id,          :name => "#{ field_prefix }][id]",											  :disabled => trip_element.bound_to_pnr? %>
		<!--<%= hidden_field :supplier_id, :name => "#{ field_prefix }][supplier_id]", :value => 0, :disabled => trip_element.bound_to_pnr? %>-->
		<!--<%= hidden_field :handler_id,  :name => "#{ field_prefix }][handler_id]",  :value => 0, :disabled => trip_element.bound_to_pnr? %>-->
		<!-- Field to mark flight for DELETE. Remains disabled until user chooses delete: -->
		<%= hidden_field               :name => "#{ field_prefix }][_delete]",     :value => 1, :disabled => true unless trip_element.bound_to_pnr? || trip_element.new?  %>
	</td>
	<td>
		<%= text_field	:flight_code, :name => "#{ field_prefix }][flight_code]", :class => 'widthHalfField', :title => 'Flight number', :disabled => trip_element.bound_to_pnr? if trip_element.flight? %>
	</td>

	<!-- Departure details: -->
	<td>
		<%= select			:depart_airport_id, :name => "#{ field_prefix }][depart_airport_id]", :selected => trip_element.depart_airport_id.to_s, :disabled => trip_element.bound_to_pnr?, :collection => airports.all, :value_method => :id, :text_method => :code_and_name, :class => 'airport widthHalfField', :prompt => '---  Choose', :title => 'Departure airport' if trip_element.flight? %>
	</td>
	<td>
	<%= text_field		:start_date, :name => "#{ field_prefix }][start_date]", :value => trip_element.start_date.formatted(:uidate).slice(0,10), :class => 'date start-date travel-date', :title => 'Departure date dd/mm/yyyy', :disabled => trip_element.bound_to_pnr? %>
	</td>
	<td>
		<%= text_field	:start_time, :name => "#{ field_prefix }][start_time]", :value => trip_element.start_date.formatted(:uitime), :class => 'time start-time widthHalfField', :title => 'Departure time hh:mm', :disabled => trip_element.bound_to_pnr? %>
	</td>

	<!-- Arrival details: -->
	<td>
		<%= select			:arrive_airport_id, :name => "#{ field_prefix }][arrive_airport_id]", :selected => trip_element.arrive_airport_id.to_s, :disabled => trip_element.bound_to_pnr?, :collection => airports.all, :value_method => :id, :text_method => :code_and_name, :class => 'airport widthHalfField', :prompt => '---  Choose', :title => 'Arrival airport' if trip_element.flight? %>
	</td>
	<td>
		<%= text_field	:end_date, :name => "#{ field_prefix }][end_date]",   :value => trip_element.end_date.formatted(:uidate).slice(0,10), :class => 'date end-date travel-date', :title => 'Arrival date dd/mm/yyyy', :disabled => trip_element.bound_to_pnr? %>
	</td>
	<td>
		<%= text_field	:end_time, :name => "#{ field_prefix }][end_time]",   :value => trip_element.end_date.formatted(:uitime), :class => 'time end-time widthHalfField', :title => 'Arrival time hh:mm', :disabled => trip_element.bound_to_pnr? %>
	</td>

	<!-- Supplier and Agent: -->
	<td>
		<%= select			:supplier_id, :name => "#{ field_prefix }][supplier_id]", :selected => trip_element.supplier_id.to_s, :collection => airlines_list, :value_method => :id, :text_method => :name_code_and_currency, :class => 'supplier widthHalfField', :title => 'Airline' %>
	</td>
	<td>
		<%= select			:handler_id,  :name => "#{ field_prefix }][handler_id]",  :selected => default_handler_id.to_s,  :collection => { 'All agents:' => handlers },  :value_method => :id, :text_method => :name,          :class => 'handler widthHalfField',  :title => 'Flight agent' %>
	</td>

	<!-- Action buttons: -->
	<td>
		<%= button "#{ icon(:delete) } Delete", :class => 'delete ui-priority-secondary ui-state-default', :title => 'Remove this flight' unless trip_element.bound_to_pnr? %>
		<!--<%= link_to icon(:add),    '#trip-element-add',    :class => 'add',    :title => 'Add another flight' %>-->
		<small class="deleted message">(Flight will be deleted)</small>
	</td>

</tr>
<% end =%>