<%
	# Template for each row in the trip_elements grid.
	
	airports			||= Airport.all( :order => [:code,:name] )
	trip_element	||= TripElement.new
	field_index		||= "#{ ( Time.now.to_f * 1000 ).to_i }-#{ rand(1000) }"
	field_prefix	||= 'trip[trip_elements_attributes]'
	field_prefix		= "#{ field_prefix }[#{ field_index }]"
	
%>

<%= fields_for trip_element do %>
<tr>

	<!-- Flight id & code: -->
	<td title="<%= trip_element.new? ? 'New flight, not saved yet!' : 'Flight' %>">
		<%= icon( trip_element.new? ? :add : :flight )     %>
		<%= hidden_field :id, :name => "#{ field_prefix }][id]" %>
		<%= hidden_field :supplier_id, :name => "#{ field_prefix }][supplier_id]", :value => 0 %>
		<%= hidden_field :handler_id,  :name => "#{ field_prefix }][handler_id]",  :value => 0 %>
	</td>
	<td>
		<%= text_field	:flight_code, :name => "#{ field_prefix }][flight_code]", :class => 'widthHalfField', :title => 'Flight number' if trip_element.flight? %>
	</td>

	<!-- Departure details: -->
	<td>
		<%= select			:depart_airport_id, :name => "#{ field_prefix }][depart_airport_id]", :selected => trip_element.depart_airport_id.to_s, :collection => airports.all, :disabled => trip_element.bound_to_pnr?, :readonly => trip_element.bound_to_pnr?, :value_method => :id, :text_method => :display_code, :class => 'airport widthHalfField', :prompt => '---  Choose', :title => 'Departure airport' if trip_element.flight? %>
	</td>
	<td>
	<%= text_field		:start_date, :name => "#{ field_prefix }][start_date]", :value => trip_element.start_date.formatted(:uidate).slice(0,10), :class => 'date trip-date', :title => 'Departure date dd/mm/yyyy' %>
	</td>
	<td>
		<%= text_field	:start_time, :name => "#{ field_prefix }][start_time]", :value => trip_element.start_date.formatted(:uitime), :class => 'time widthHalfField', :title => 'Departure time hh:mm' %>
	</td>

	<!-- Arrival details: -->
	<td>
		<%= select			:arrive_airport_id, :name => "#{ field_prefix }][arrive_airport_id]", :selected => trip_element.arrive_airport_id.to_s, :collection => airports.all, :disabled => trip_element.bound_to_pnr?, :readonly => trip_element.bound_to_pnr?, :value_method => :id, :text_method => :display_code, :class => 'airport widthHalfField', :prompt => '---  Choose', :title => 'Arrival airport' if trip_element.flight? %>
	</td>
	<td>
		<%= text_field	:end_date, :name => "#{ field_prefix }][end_date]",   :value => trip_element.end_date.formatted(:uidate).slice(0,10), :class => 'date trip-date', :title => 'Arrival date dd/mm/yyyy' %>
	</td>
	<td>
		<%= text_field	:end_time, :name => "#{ field_prefix }][end_time]",   :value => trip_element.end_date.formatted(:uitime), :class => 'time widthHalfField', :title => 'Arrival time hh:mm' %>
	</td>

	<!-- Action buttons: TODO -->
	<!--<td>
		<%= link_to icon(:delete), '#trip-element-delete', :class => 'delete', :title => 'Remove this flight' %>
		<%= link_to icon(:add),    '#trip-element-add',    :class => 'add',    :title => 'Add another flight' %>
	</td>-->

</tr>
<% end =%>