<%

	@elements	= @elements.all( :type_id => TripElementType::FLIGHT )
	@trip     = @elements.first && @elements.first.trip || Trip.get(params[:trip_id])
	
	# Attempt to eager-load data for the pick lists: (TODO Find a better technique that does not run each select twice!)
	# Alas Despite these efforts, DM still runs a query for each airport country.
	#company_countries = CompanyCountry.all.reload
	#countries 				= Country.all.reload
	airports					= Airport.all(  :order => [:code,:name] ).reload	# No need to filter by company on this page.
	airlines					= Supplier.all( :type_id => Supplier::FLIGHT,  :order => [:name,:code] ).reload
	handlers					= Supplier.all( :type_id => Supplier::HANDLER, :order => [:name] ).reload
	
	field_prefix = 'trip[trip_elements_attributes]'
Airport.all( :order => [:code,:name] )
%>

<div style="padding:2em;background-color:#000;-moz-box-shadow:5px 5px 10px #000;height:20em;margin:2em;overflow-y:auto;">

	<!-- The grid param lets client-side script know where the form was submitted from: -->
	<%= form_for @trip, :action => nested_resource( @client_or_tour, @trip, :grid => true ) do %>

		<!-- This field is only present as a workaround for when user submits empty form with no flights: -->
		<%= hidden_field :id %>

		<table id="trip-elements-grid" cellspacing="0" cellpadding="0">

			<thead>
				<tr>
					<th></th>
					<th>Flight</th>
					<th colspan="3">Depart</th>
					<th colspan="3">Arrive</th>
					<th>Supplier/Airline</th>
					<th>Agent</th>
				</tr>
			</thead>

			<tbody>

				<% @elements.each_with_index do |trip_element,i| %>

					<%= partial 'trip_elements/grid_row', :trip_element => trip_element, :field_index => i, :field_prefix => field_prefix, :airports => airports, :airlines => airlines, :handlers => handlers %>

				<% end %>

				<tr class="message none">
					<td></td>
					<td colspan="20">
						<small class="message">
							<%= icon :info %>
							This trip has no flights. You can paste flight lines from Amadeus into the box below.
						<small>
					</td>
				</tr>

				<script type="text/html" id="trip-elements-grid-row-template">
					<!-- BLANK ROW TEMPLATE for adding flights: -->
					<%= partial 'trip_elements/grid_row', :trip_element => @trip.flights.new, :field_index => :new, :field_prefix => field_prefix, :airports => airports, :airlines => airlines, :handlers => handlers %>
				</script>

			</tbody>

		</table>

	<% end =%>

</div>

<textarea id="amadeus-paste">Paste Amadeus lines here to add flights...</textarea>
