<%# See trip.costings.css for style rules. %>
<%










	# THIS IS NOT THE INVOICE FORM!

	# SEE /money_ins/new.html.erb











%>
<%

	trip ||= @trip
	
	@invoice = @money_in = trip.invoices.new
	
	@invoice.calc_defaults()
	
	#@invoice.single_supp_amount = trip.calc( :total, :actual, :gross, :for_all, :singles,                       :final_prices => true, :string_format => false )
	#@invoice.biz_supp_amount    = trip.calc( :total, :actual, :gross, :for_all, :travellers, :biz_supp => true, :final_prices => true, :string_format => false )
	#@invoice.adjustment_amount	= 0
	@invoice.adjustment_name		= 'Optionally describe a custom adjustment here'
	
	#@invoice.deposit						= trip.default_deposit
	#@invoice.total_amount				= !trip.total_price.zero? ? trip.total_price : trip.calc( :daily, :actual, :gross, :for_all, :travellers, :with_all_extras => true, :final_prices => true, :string_format => false )
	
	# Calculate amount due:
	#@invoice.amount             = @invoice.total_amount - @invoice.deposit
	
	# Set the list of clients for whom this invoice is paying:
	#@invoice.clients.concat trip.clients
	#@invoice.narrative = @invoice.default_narrative
	
	
	invoiceable_clients = @trip.clients.all( TripClient.is_invoicable => true )

	if trip.company.default_deposit =~ /%/
		default_deposit = "#{ trip.company.default_deposit } of total price"
	else
		default_deposit = "#{ trip.company.default_deposit.to_f.to_currency(:uk) } per person"
	end
	default_deposit_description = "The default deposit for #{ trip.company.name } is #{ default_deposit }"
	

	# Build list to populate the Invoice Number field:
	
		supp_invoice_list = [ [ '', 'New main invoice' ] ]

		trip.invoices(:main).each do |invoice|
			
			unless invoice.name.nil? || invoice.name !~ /[0-9]/
				invoice_description = "#{ invoice.name } [#{ invoice.client.fullname }]"
				supp_invoice_list << [ invoice.name, "Supplement for invoice #{ invoice_description }" ]
			end
			
		end

%>
<div class="sectionContainer invoice">

	<!-- Form submits to trips#update action so make sure it knows to return us to the costings page: -->
	<%= form_for @invoice, :action => resource( @client, @trip, :money_ins ) do %>

		<%= hidden_field :name => :redirect_to, :value => :costings %>

		<div class="sectionHead costingSheet">
			<%= partial 'trips/costings/trip_sectionhead_overview', :trip => trip %>
		</div>

		<div class="sectionBody">

			<div class="paper width3Fields">
		
				<div class="" style="display:table-row">

					<div class="" style="display:table-cell">

						<%= select     :name,				              :label => 'Create a',       :collection => supp_invoice_list, :class => 'width2Fields' %>
						<%= select     :name => :client_id,				:label => 'Addressed to',   :collection => invoiceable_clients, :value_method => :id, :text_method => :fullname, :class => 'width2Fields' %>
						<%= text_field :name => :invoice_date,		:label => 'Invoice date',   :value => Date.today.formatted(:uidisplay), :readonly => true, :class => '' %>
						<%= text_field :name => :booking_ref,			:label => 'Booking ref',    :value => 'booking ref',	:readonly => true, :class => '' %>

					</div>

					<!--<div class="" style="display:table-cell">
							
					</div>-->
					
				</div>

				<table cellspacing="0" cellpadding="0" class="invoice">
					<tbody>
				
						<tr>
							<th colspan="8" class="ui-state-default">Passenger details</th>
						</tr>
						<tr>
							<td colspan="8">
								<ul class="checkboxList">
									<%= partial 'shared/list', :list_type => :checkbox, :collection => @trip.clients, :selected => :all, :field_name => 'money_in[clients_ids][]', :id_prefix => nested_resource( @client, @trip, :money_ins, true ), :custom_attrs => { :readonly => :readonly, :disabled => :disabled },  :empty_message => '<p>No clients have been named on this trip!</p>' %>
</ul>
							</td>
</tr>

<tr>
<th colspan="8" class="ui-state-default">Provisional flight details <small>(Subject to change)</small></th>
						</tr>
						<tr>
							<%= partial 'trips/flights_table', :flights => @trip.flights, :rows_only => true %>
						</tr>

						<tr>
							<th colspan="8" class="ui-state-default">Ground arrangements</th>
						</tr>
						<tr>
							<td colspan="8">
								<br/>
								<%= text_area :narrative, :label => 'Modify narrative:<br/><br/>', :class => 'width3Fields height4Fields' %>
								<br/><br/>
							</td>
						</tr>

					</tbody>
					
					<tfoot>
						<tr>
							<td colspan="7">Single supplement:</td>
							<td>
								&pound;<%= text_field :single_supp_amount, :class => 'widthHalfField', :readonly => true %>
							</td>
						</tr>
						<tr>
							<td colspan="7">Business class supplement:</td>
							<td>
								&pound;<%= text_field :biz_supp_amount, :class => 'widthHalfField', :readonly => true %>
							</td>
						</tr>
						<tr>
							<td colspan="7">Invoice total:</td>
							<td>
								&pound;<%= text_field :total_amount, :class => 'widthHalfField', :readonly => true %>
							</td>
						</tr>
						<tr>
							<td colspan="7">Less deposit already paid:</td>
							<td>
								<!-- Default deposit is calculated as a per-person-amount or percent-of-total_price according to trip.company.default_deposit: -->
								&pound;<%= text_field :deposit, :class => 'widthHalfField' %>
							</td>
						</tr>
						
						<!--
						<tr>
							<td colspan="7">
								<%= text_field :adjustment_name, :class => 'width2Fields' %> :
							</td>
							<td>
								&pound;<%= text_field :adjustment_amount, :value => @invoice.adjustment_amount, :class => 'widthHalfField' %>
							</td>
						</tr>
						-->
						
						<tr>
							<th colspan="7">Outstanding balance due by <%= trip.payment_due_date.formatted(:uidisplay) %>:</th>
							<th>
								&pound;<%= text_field :name => :amount, :value => @invoice.amount, :class => 'widthHalfField total', :readonly => true %>
							</th>
						</tr>
						
						<tr>
							<td colspan="7"><br/>This booking has been handled by <%= trip.user.fullname %></td>
						</tr>
						
					</tfoot>

				</table>

				<br/><br/><hr/><br/>

				<h4>More info about this invoice:</h4><br/>
				
				<ul style="list-style-position:inside">
					<li>Deposit only applies when creating a new main invoice</li>
					<li><%= default_deposit_description %></li>
				</ul>

				<br/><br/>

				<!-- Payments history: -->
				<% if trip.invoices.empty? %>
					<p>This is the first invoice to be created for this trip.</p>
				<% else %>
					<%= partial 'trips/invoice/invoices_list', :invoices => trip.invoices.all( :order => [:id] ) %>
				<% end %>

			</div>

		</div>

		<!-- sectionFoot: -->
		<div class="sectionFoot ui-widget">
			<div class="buttonBar ui-dialog-buttonpane ui-widget-content">
				<%#= check_box :name => :draft,    :label => 'Draft only', :checked => true, :class => 'ui-priority-secondary ui-state-default' %>
				<%= submit    'Create invoice',		:class => 'ui-priority-primary ui-state-default' %>
			</div>
		</div>

	<% end =%>

	</div>