<%# See trip.costings.css for style rules. %>

<div class="sectionContainer costingSheet">

	<!-- Form submits to trips#update action so make sure it knows to return us to the costings page: -->
	<%= form_for @trip, :action => resource( @client_or_tour, @trip ) do %>

	<%= hidden_field :name => :redirect_to, :value => :costings %>
		
	<div class="sectionHead">
		<%= partial 'trips/costings/trip_sectionhead_overview', :trip => trip %>
	</div>

	<div class="sectionBody">

		<br/>

		<!-- Adjust prices per person: -->
		<table cellspacing="0" cellpadding="0" class="pricing" style="padding:1em; background:#EFEDDE; border:1px solid #999; -moz-border-radius:0.5em; -webkit-border-radius:0.5em; border-radius:0.5em;">

			<thead class="line-below">
				<tr>
					<th>Adjust trip pricing <small>per person</small></th>
					<th>Net</th>
					<th>Gross</th>
					<th class="set-gross">Set gross</th>
					<th>Profit</th>
					<th>Sales margin</th>
				</tr>
			</thead>

			<tbody>

				<!-- Booking fee row: -->
				<tr>
					<th class="muted small">Price per person <em>includes</em> this booking fee:</th>
					<%= tag :td, trip.calc( :daily, :actual, :gross,          :per, :traveller, :booking_fee => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :gross,          :per, :traveller, :booking_fee => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :net,            :per, :traveller, :booking_fee => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :margin,         :per, :traveller, :booking_fee => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :percent_margin, :per, :traveller, :booking_fee => true, :decimal_places => 1 ) + '%', :class => 'muted small' %>
				</tr>

				<!-- Taxes row: -->
				<tr>
					<th class="muted small">Price per person <em>includes</em> these taxes:</th>
					<%= tag :td, trip.calc( :daily, :actual, :gross,          :per, :traveller, :taxes => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :gross,          :per, :traveller, :taxes => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :net,            :per, :traveller, :taxes => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :margin,         :per, :traveller, :taxes => true, :to_currency => true ), :class => 'muted small' %>
					<%= tag :td, trip.calc( :daily, :actual, :percent_margin, :per, :traveller, :taxes => true, :decimal_places => 1 ) + '%', :class => 'muted small' %>
				</tr>

				<!-- Adult/Child/Infant/Single pricing: -->
				<%= partial 'trips/costings/pricing_row', :trip => trip, :person => :adult  unless trip.adults.zero?   %>
				<%= partial 'trips/costings/pricing_row', :trip => trip, :person => :child  unless trip.children.zero? %>
				<%= partial 'trips/costings/pricing_row', :trip => trip, :person => :infant unless trip.infants.zero?  %>
				<%= partial 'trips/costings/pricing_row', :trip => trip, :person => :single unless trip.singles.zero?  %>

			<!--</tbody>-->

			<!--<tfoot class="line-above">
				<tr><td colspan="10"></td></tr>
			</tfoot>-->
			<!--<tfoot>
				<%#= partial 'trips/costings/pricing_row', :trip => trip, :person => :travellers, :do_totals => true %>
			</tfoot>-->

		<!--</table>

		<br/><br/>-->



		<!-- Total final prices -->
		<!--<table cellspacing="0" cellpadding="0" class="total pricing">-->

			<!--<tbody class="line-below">-->
				<tr>
					<th><br/>Total final prices <small>for entire trip</small></th>
					<!--<th>Net</th>
					<th><small>Calculated</small><br/>Gross</th>
					<th class="set-gross"><small>Custom</small><br/>Gross</th>
					<th>Profit</th>
					<th>Margin</th>-->
				</tr>
			<!--</tbody>-->

			<!--<tbody>-->
				<%= partial 'trips/costings/pricing_row', :trip => trip, :person => :travellers, :do_totals => true %>
			</tbody>

			<tfoot class="line-above">
				<tr><td colspan="6"></td></tr>
			</tfoot>

		</table>

		<br/><br/><br/>

		

		<!-- COSTINGS TABLE: Style is applied via ".costingSheet TABLE.costings" -->
		<table cellspacing="0" cellpadding="0" class="costings">

			<thead class="line-below">

				<!--<tr>
					<th colspan="2"></th>
					<th colspan="3">Adult</th>
					<th colspan="2">Single</th>
					<th colspan="2">Child</th>
					<th colspan="2">Infant</th>
				</tr>-->

				<tr>
					<th>Trip element costs <small>per person</small></th>
					<th><small>Element</small><br/>Margin</th>
					<th><small>Exchange</small><br/>Rate</th>
					<th><small>Adult</small><br/>Local</th>
					<th><small>Adult</small><br/>Net</th>
					<th><small>Adult</small><br/>Gross</th>
					<th><small>Child</small><br/>Net</th>
					<th><small>Child</small><br/>Gross</th>
					<th><small>Infant</small><br/>Net</th>
					<th><small>Infant</small><br/>Gross</th>
					<th><small>Single</small><br/>Net</th>
					<th><small>Single</small><br/>Gross</th>
				</tr>

			</thead>

			<tbody>

				<!--<tr><td style="height:3em"></td></tr>-->
			
				<tr><th class="isFlight" colspan="10"><span class="ui-icon ui-icon-flight"></span>
					Flights <small>(<%= trip.flights.length %>)</small>
				</th></tr>
				
				<!-- FLIGHT rows: -->
				<% trip.flights.each do |flight| %>

					<%= partial 'trips/costings/costings_row', :trip_element => flight %>

				<% end %>


				<tr><th class="isAccomm" colspan="10"><span class="ui-icon ui-icon-accomm"></span>
					Accommodation <small>(<%= trip.accomms.length %>)</small>
				</th></tr>
				
				<!-- ACCOMMODATION rows: -->
				<% trip.accomms.each do |accomm| %>

					<%= partial 'trips/costings/costings_row', :trip_element => accomm %>

				<% end %>


				<tr><th class="isGround" colspan="10"><span class="ui-icon ui-icon-ground"></span>
					Ground services <small>(<%= trip.grounds.length %>)</small>
				</th></tr>

				<!-- GROUND SERVICES rows: -->
				<% trip.grounds.each do |ground| %>

					<%= partial 'trips/costings/costings_row', :trip_element => ground %>

				<% end %>


				<!-- MISC rows: -->
				<tr><th class="isMisc" colspan="10"><span class="ui-icon ui-icon-misc"></span>
					Misc <small>(<%= trip.miscs.length %>)</small>
				</th></tr>
				
				<% trip.miscs.each do |misc| %>

					<%= partial 'trips/costings/costings_row', :trip_element => misc %>

				<% end %>

			</tbody>


			<!-- TOTALS row: -->
			<tfoot>
				<%= partial 'trips/costings/costings_row', :trip => trip %>
			</tfoot>

		</table>

		<br/>
		
	</div>

	<!-- sectionFoot: -->
	<div class="sectionFoot ui-widget">
		<div class="buttonBar ui-dialog-buttonpane ui-widget-content">
			<!-- Important! The markup order of these buttons is significant to ensure that pressing Enter submits 'Save' -->
			<%#= button 'Recalculate gross prices',	:class => 'ui-priority-secondary ui-state-default left', :disabled => true %>
			<%= submit 'Save price adjustments',		:class => 'ui-priority-primary ui-state-default' %>
			<%= submit 'Update exchange rates',			:class => 'ui-priority-secondary ui-state-default left', :disabled => ( trip.confirmed? || trip.completed? ) %>
		</div>
	</div>

	<% end =%>

</div>