<%
	# Small table used as a trip-overview in the sectionHead of the Costings Sheet and Invoice.
	
	trip ||= @trip
	
	traveller_numbers_warning = ( trip.travellers == trip.clients.length ) ? '' : icon(:alert)
	
%>
	<table cellspacing="0" cellpadding="0" class="trip-head-overview">
		<tbody>
			<tr>
				<%= tag :th,	'Version:' %>
				<%= tag :td,	trip.name %>
				<%= tag :th,	'Dates:' %>
				<%= tag :td,	trip.date_summary %>
			</tr>
			<tr>
				<%= tag :th,	'Visiting:' %>
				<%= tag :td,	trip.countries_names.join(', ') %>
				<%= tag :th,	'Consultant:' %>
				<%= tag :td,	trip.user.preferred_name %>
			</tr>
			<tr>
				<%= tag :th,	'Travellers:' %>
				<%= tag :td,	"#{ trip.clients_names(:shortname).join(', ') } <small>(#{ trip.traveller_summary }) #{ traveller_numbers_warning }</small>", :colspan => 3 %>
			</tr>
		</tbody>
	</table>