<%
	# Required arguments:
	#	:invoices

	# Optional arguments:
		heading ||= 'Payments history:'

	# Sample usage:
	# partial 'money_ins/invoices_list', :invoices => @trip.invoices.all( :order => [:id] )

%>
	<table class="invoices">

		<caption><%= heading %></caption>

		<thead>
			<tr>
				<th class="ui-state-default">Invoice</th>
				<th class="ui-state-default">Amount</th>
				<!--<th class="ui-state-default">Sent to</th>-->
				<th class="ui-state-default">Created</th>
				<th class="ui-state-default">Paid</th>
			</tr>
		</thead>

		<tbody>
			<% invoices.each do |invoice| %>
			<%
					if invoice.clients.empty?
						more_info = ''
					else
						more_info = "Paid for #{ invoice.clients.length } clients: #{ invoice.clients_names(:shortname).join(', ') }"
					end
					
					#more_info << invoice.narrative
			%>
			<tr>
				<%= tag :td, "#{ invoice.number } #{ 'deposit' if invoice.deposit? }", :title => more_info %>
				<%= tag :td, invoice.amount.to_currency(:uk) %>
				<%#= tag :td, invoice.client && invoice.client.display_name %>
				<%= tag :td, "#{ invoice.created_at.formatted(:uidisplay) } for<br/>#{ invoice.client.fullname }" %>
				<%= tag :td, invoice.received_date.formatted(:uidisplay) %>
			</tr>
			<% end %>
		</tbody>

	</table>