<!-- _clientPage: -->
<%
	active_trips = client.active_trips.all( :type_id.not => TripType::TOUR_TEMPLATE, :order => [ :status_id, :start_date.desc, :created_at.desc ] )
-%>
<div class="sectionContainer noSectionFoot clientPage">

	 <div class="sectionHead">

			<!-- Client name and one-line-summary: -->
			<h2>
				<span class="ui-icon ui-icon-client"></span>
				<span class="clientName"><%= client.fullname %></span>
				<%= tag :small, client.postcode unless client.postcode.blank? %>
				<small>
					(<span class="clientTotalSpend" title="Total spent" data-bound="true" data-resource="<%= resource(client) %>" data-field="client[total_spend]"><%=
						client.total_spend.to_currency(:uk)
					%></span>)
				</small>
				<small>
					Trips: <%= client.trips_statement %>
				</small>
				<small>
					- <%= link_to '<span class="ui-icon ui-icon-virtualcabinet"></span> Client documents', "#{ resource( client ) }/virtual_cabinets/open", :rel => '#dummy', :class => 'ui-priority-secondary ui-state-default right' %>
				</small>
			</h2>

			<!-- Fields used by client-side script: -->
			<%= hidden_field :name => :client_id,    :value => client.id %>
			<%= hidden_field :name => :client_label, :value => client.shortname %>
			
	 </div><!-- End of _clientPage sectionHead -->


	 <div class="sectionBody">

			<!-- LHS TABS: -->
			<div class="sectionContainer sectionContainerLeft noSectionHead noSectionFoot tabsContainer">

				 <div class="sectionBody">

						<!-- Client's LHS tabs: Details / Documents / Paymemts / Trips 1...n -->
						<ul class="clientPageTabsNav ui-tabs-nav-vertical ellipsis">

							<li class="dummy hidden"	                 ><span class="ui-icon ui-icon-payment" ></span><a href="#<%= nested_resource(client,true) %>dummy"></a></li>
							<li class="client-details ui-tabs-selected"><span class="ui-icon ui-icon-client"  ></span><a href="<%= resource(client) %>/summary">Client details</a></li>
							<li class="client-documents"					     ><span class="ui-icon ui-icon-document"></span><a href="<%= resource(client) %>/documents">All documents</a></li>
							<li class="client-payments invisible"	     ><span class="ui-icon ui-icon-payment" ></span><a href="#<%= nested_resource(client,true) %>payments">Payments</a></li>

							<!-- List of left-hand-side tabs for each trip: -->
							<%= partial 'trips/lhs_tabs', :trips => active_trips, :client_or_tour => client %>

							<!-- Extra tab for CREATE TRIP: -->
							<li class="trip trip-create" title="Create a lovely new trip">
								<%= link_to 'New trip', resource(client,:trips,:new), :class => 'new' %>
							</li>

							<!-- Extra tab for CREATE FIXED DEP: -->
							<%# When client is listed on a TOUR, show link(s) to create new fixed-dep based on the tour-template(s):
							  # This is made over-complicated because old migrated fixed deps do not relate to their tour template! %>
							<% tour_templates_count = client.tour_templates.count %>
							<% client.tour_templates.each do |tour| %>

								<% fixed_deps_count = client.fixed_deps( tour.tour_id ).count %>

								<!-- Don't show "New Fixed Dep" link if one has already been created from the tour_template -->
								<% if fixed_deps_count == 0 || fixed_deps_count < tour_templates_count %>
								
									<!-- Extra tab for CREATE FIXED DEPARTURE trip: -->
									<li class="trip trip-create" title="Create a new fixed departure based on the group trip &quot;<%= tour.name %>&quot;">
										<%= link_to 'Copy group', resource( client, :trips, :new, :copy_trip_id => tour.id ), :class => 'new' %>
										<small>Based on <%= tour.name %></small>
									</li>

								<% end %>

							<% end %>

						</ul>

				 </div>

			</div><!-- End of LHS Tabs. -->

			
			<!-- RHS CONTENT: -->
			<div class="clientPageTabsContent ajaxPanel sectionContainer sectionContainerRight noSectionHead noSectionFoot">

				<div id="<%= nested_resource(client,true) %>dummy">
				</div>
				
				<div id="<%= nested_resource(client,true) %>payments" class="sectionBody clientPayments">
					<div class="sectionContainer noSectionFoot">
						<div class="sectionHead">
							<h3><span class="ui-icon ui-icon-payment"></span>Client Payments</h3>
						</div>
						<div class="sectionBody">
							Client payments TBD
						</div>
					</div>
				</div>

				<!-- Trip pages are added here via ajax. -->

			 </div><!-- End of RHS Content. -->

	 </div><!-- end of _clientPage sectionBody -->

</div>