<% client = client || @client %>

<br/>

<fieldset class="width3Fields fieldFlowHoriz noBorder">
	<legend>Name</legend>
	<%= partial 'clients/name', :client => @client %>
</fieldset>

<dl class="accordion width3fields client-form center">

  <dt>Contact details and addresses</dt>

	<dd class="fieldsets">

		<fieldset class="width1Field">
			<legend class="ui-helper-hidden">Contact details</legend>

			<%= partial 'clients/telephone', :client => client %>
			<%= partial 'clients/email', :client => client %>

			<br/>
			<div>
				<!-- Warning: Update fails if this field is blank! --><!--
				<%#= select :address_client_id, :label=>"Same address as", :fieldClass=>"fieldFlowHoriz", :selected => (client.address_client || client).id.to_s, :collection => client.fellow_travellers, :prompt=>"Shown below", :value_method => :id, :text_method => :fullname %>
				<%#= select :address_client_id, :label=>"Same address as", :fieldClass=>"fieldFlowHoriz", :selected => (client.address_client || client).id.to_s, :prompt=>"Shown below", :value_method => :id, :text_method => :fullname %>
				<%#= link_to "test", resource(@client.fellow_travellers.first) %>
				<small>
				&nbsp; and also 
				<% if !client.fellow_dwellers.empty? %>
					<% client.fellow_dwellers.each do |c| %>
					<%= link_to c.forename[0,1] + " " + c.name, resource(c, :label=>c.shortname), :rel=>c.contextId %>, 
					<% end %>
				<% end %>
				<%= link_to "someone new", resource(:clients, :new, :addressClientId=>client.id), :class=>"new", :rel=>resource(:clients, :new, :addressClientId=>client.id), :title=>"Add a new client" %>
				</small>-->
			</div>
		</fieldset>

		<fieldset class="width1Field">
			<legend class="ui-helper-hidden">Addresses</legend>
			<%= partial 'clients/addresses', :client => client, :field_name_prefix => 'client' %>
		</fieldset>

  </dd>

  <dt>Personal and passport details</dt>
  <dd class="fieldsets" style="">
	<div style="display:table-row">
	  <div style="display:table-cell; vertical-align:top;">
		<fieldset class="width1Field">
			<legend class="ui-helper-hidden">Personal</legend>
			<%= partial 'clients/personal', :client => client %>
		</fieldset>
	  </div>
	  <div style="display:table-cell">
		<fieldset class="width1Field">
			<legend class="ui-helper-hidden">Passport</legend>
			<%= partial 'clients/passport', :client => client %>
		</fieldset>
	  </div>
	</div>
  </dd>

  <dt>Travel preferences</dt>
  <dd>
	<fieldset class="width2Fields noFrame fieldFlowHoriz">
		<legend class="ui-helper-hidden">Preferences</legend>
 		<%= partial 'clients/preferences', :client => client %>
	</fieldset>
  </dd>

  <dt>Marketing and source</dt>
  <dd>
		<fieldset class="width1Field">
			<legend class="ui-helper-hidden">Marketing</legend>
			<%= partial 'clients/marketing', :client => client %>
			<%= partial 'clients/profile', :client => client %>
		</fieldset>
  </dd>

</dl>
