<%
	client   ||= @client
	companions = client.companions
-%>

<dl class="accordion clientHistory">

		<dt class="<%= client.notes.length > 0 ? 'alert' : '' %>">
			Notes <small>(<%= client.notes.length %>)</small>
		</dt>
		<dd class="clientNotes">
			<div id="<%= "#{ nested_resource(client,true) }notes" %>" class="ajaxPanel sectionContainer noSectionHead">
				<%= partial 'notes/index', :notes => client.notes %>
			</div>
		</dd>

		<% tasks_panel_uid = nested_resource(client,:tasks,true) %>
		<dt>
			Followups &amp; history <small id="<%= tasks_panel_uid %>count">(<%= client.tasks.length %>)</small>
		</dt>
		<dd class="clientTasks" id="<%= tasks_panel_uid %>">
			<%= partial 'tasks/index', :tasks => client.tasks, :client => @client %>
		</dd>

		<% brochures_panel_uid = nested_resource(client,:brochure_requests,true) %>
		<dt>
			Brochures <small id="<%= brochures_panel_uid %>count">(<%= client.brochure_requests.length %>)</small>
		</dt>

		<dd>
			<div id="<%= brochures_panel_uid %>" class="ajaxPanel sectionContainer">
				<%= partial 'brochure_requests/list', :brochure_requests => client.brochure_requests, :client_id => client.id %>
			</div>
		</dd>

		<dt>
			Web requests <small>(<%= client.web_requests.length %>)</small>
		</dt>
		<dd>
				<%= partial 'web_requests/summary', :web_requests => client.web_requests %>
		</dd>

		<dt>Travelled with <small>(<%= companions.length %>)</small></dt>
		<dd>

			<% if !companions.empty? %>
			<ul>
				<% companions.each do |chum| %>
					<li>
						<span class="ui-icon ui-icon-client"></span>
						<%= link_to "#{ chum.fullname }", "#{ resource(chum) }?label=#{ chum.shortname }" %>
					</li>
				<% end %>
			</ul>
			<% else %>
				<p>This client has not booked a private/tailor-made trip with anyone else.</p>
			<% end %>

		</dd>

</dl>