<%

	# Copy names of countries of interest to an array:
	areas_of_interest = []
	client.countries.each{ |country| areas_of_interest << country.name }
	areas_of_interest << 'none' if areas_of_interest.empty?

%>

<h4>Marketing &amp; Preferences</h4>
<dl class="fields ellipsis">
  <dt>Areas</dt><dd><%= areas_of_interest.join(', ') %></dd>
  <dt>Current src</dt><dd><%= client.source && client.source.name %></dd>
  <dt>Orig source</dt><dd><%= client.original_source && client.original_source.name %></dd>
  <dt>Type</dt><dd><%= client.type && client.type.name %></dd>
  <!--<dt>Topic</dt><dd>(Unused)</dd>-->
<dt>Marketing</dt>
<dd>
<%= client.marketing_summary.gsub('.','<br/>') %>
<br/>
<small>Formerly: 
&quot;<%= client.marketing && client.marketing.name %>
<%= " (#{ client.companies.map{|c|c.initials}.join(', ') })" unless client.companies.empty? %>
		&quot;</small>
</dd>
<!--
<dt>Freq. flyer</dt><dd><%= client.notes_frequent_flyer %></dd>
<dt>Airline</dt><dd class="textarea"><%= client.notes_airline %></dd>
<dt>Seating</dt><dd class="textarea"><%= client.notes_seating %></dd>
<dt>Meals</dt><dd class="textarea"><%= client.notes_food %></dd>
<dt>Other</dt><dd class="textarea"><%= client.notes_general %></dd>
	-->
	<dt>Preferences</dt>
	<dd>
		<small>
		<% unless client.notes_frequent_flyer.blank? %><em>Frequent flyer number:</em> <%= client.notes_frequent_flyer %>,<% end %>
		<% unless client.notes_airline.blank? %><em>Airline:</em> <%= client.notes_airline %>, <% end %>
		<% unless client.notes_seating.blank? %><em>Seating:</em> <%= client.notes_seating %>, <% end %>
		<% unless client.notes_food.blank? %><em>Meals:</em> <%= client.notes_food %>, <% end %>
		<% unless client.notes_general.blank? %><em>Other:</em> <%= client.notes_general %><% end %>
		</small>
	</dd>
</dl>
