
<!-- Readonly summary of client contact details etc: -->
<%
  
	client			||= @client
  address				= client.address
  mail_params   = '?subject=Your trip with Steppes travel&body=Dear ' + (client.salutation || client.addressee) + ',%0A%0A'

	# Copy names of countries of interest to an array:
	areas_of_interest = []
	client.countries.each{ |country| areas_of_interest << country.name }
	areas_of_interest << 'none' if areas_of_interest.empty?
	
	# Define and serialise parameters for generating client letter documents:
	# Note: Because we are explicitly specifying document_template_file it will not need to be derived from document_type_id.
	# Note: Letter templates are always in the /Templates/Letters subfolder.
	# Eg: document[document_type_id]=8&document[client_id]=#{ client.id }&document[user_id]=#{ session.user.id }&document[generate_doc_after_create]=true&document[generate_doc_later]=true&document[document_template_file]=Letters/{value}&_method=post
	letter_builder_parameters = {
	
		#'document[trip_id]'										=> trip.id,		# Not applicable on this page.
		'document[user_id]'										=> session.user.id,
		'document[client_id]'									=> client.id,
		'document[document_type_id]'					=> DocumentType::LETTER,						# 8 = Letter template.
		'document[document_template_file]'		=> 'Letters/{value}',
		'document[generate_doc_after_create]'	=> true,
		'document[generate_doc_later]'				=> true,
		:redirect_to													=> "#{ resource(client) }/summary"
		
	}.to_a.map{|pair| pair.map{ |part| h(part.to_s) }.join('=') }.join('&')
	
	
-%>

<!--<div class="xfieldsetRow">-->		

    <div class="fieldset widthFifth withHeading">

      <h4>
				Client <%#= link_to "Edit", resource(client, :edit)+"#name" if client.id %>
      </h4>
 
			<dl class="fields ellipsis">
				<dt>Name</dt><dd><%= client.title %> <%= client.forename %> <%= client.name %></dd>
				<dt>Known as</dt><dd><%= client.known_as %></dd>
				<dt>Salutation</dt><dd><%= client.salutation %></dd>
				<dt>Addressee</dt><dd><%= client.addressee %></dd>
				<dt>DoB</dt>
				<dd>
					<% if client.birth_date %>
						<%= client.birth_date.formatted(:uidate) %> <%= "<small>(age #{ client.age })</small>" %>
					<% else %>
						n/a
					<% end %>
				</dd>

				<% if client.created_at || client.original_company || !client.created_by.blank? %>
					<dt>Added</dt>
					<dd>
						<small>
						<%= client.created_at.formatted(:uidate)	if client.created_at %>
						<%= '<br/>by'															if client.original_company || !client.created_by.blank? %>
						<%= "#{ client.created_by }<br/>"					if !client.created_by.blank? %>
						<%= client.original_company.name					if client.original_company %>
						</small>
					</dd>
				<% end %>

				<% if client.deleted_at %>
					<dt style="color:#f00">Deleted</dt>
					<dd>
						<small>
						<%= client.deleted_at.formatted(:uidate)	if client.deleted_at %>
						<%= "<br/>by #{ client.deleted_by }<br/>"	if !client.deleted_by.blank? %>
						</small>
					</dd>
				<% end %>

			<dl>
    </div>

    <div class="fieldset widthFifth withHeading">

      <h4>Primary address 
				<%= tag :small, "(1 of #{ client.addresses.length })" if client.addresses.length > 1 %>
        <%#= link_to "Letter", resource(client, :edit) if client.id %>
        <%#= link_to "Label", resource(client, :edit) if client.id %>
				<%=
					template_filenames = Document.doc_builder_letter_templates( :type => :general )
					orig_select :name => 'generate_letter', :collection => template_filenames, :prompt => 'Create a general letter...', :class => 'create-letter arrow-only', :'data-method' => 'post', :'data-href' => "#{ resource( client, :documents ) }?#{ letter_builder_parameters }", :'data-target' => '#no-target'
				%>
      </h4>

			<dl class="fields hideLabels ellipsis">
        <% if !client.address1.blank? %><dt>Number/name</dt><dd><%= client.address1 %></dd><% end %>
        <% if !client.address2.blank? %><dt>Locality</dt><dd><%= client.address2 %></dd><% end %>
        <% if !client.address3.blank? %><dt>Region</dt><dd><%= client.address3 %></dd><% end %>
        <% if !client.address4.blank? %><dt>Town/city</dt><dd><%= client.address4 %></dd><% end %>
        <% if !client.address5.blank? %><dt>County</dt><dd><%= client.address5 %></dd><% end %>
        <% if !client.postcode.blank? %><dt>Postcode</dt><dd class="postcode"><%= client.postcode %></dd><% end %>
        <dt>Country</dt><dd><%= client.country && client.country.name %></dd>
        <dt>Mailing zone</dt><dd>Zone: <%= client.country && client.country.mailing_zone && client.country.mailing_zone.name %></dd>
      </dl>

    </div>

    <div class="fieldset widthFifth withHeading">
      <h4>Contact details <%#= link_to "Edit", resource(client, :edit)+"#contacts" if client.id %></h4>
      <dl class="fields ellipsis">
        <% if client.tel_home %><dt>Home</dt><dd><%= client.tel_home %></dd><% end %>
        <% if !client.tel_work.blank? %><dt>Work</dt><dd><%= client.tel_work %></dd><% end %>
        <% if !client.tel_mobile1.blank? %><dt>Mobile</dt><dd><%= client.tel_mobile1 %></dd><% end %>
        <% if !client.tel_mobile2.blank? %><dt>Mobile</dt><dd><%= client.tel_mobile2 %></dd><% end %>
        <% if !client.email1.blank? %><dt>Email</dt><dd><%= link_to client.email1, "mailto:#{ client.email1 + mail_params }", :title => client.email1 %></dd><% end %>
        <% if !client.email2.blank? %><dt>Other email</dt><dd><%= link_to client.email2, "mailto:#{ client.email2 + mail_params }", :title => client.email2 %></dd><% end %>
     </dl>
    </div>

    <div class="fieldset widthTwoFifths withHeading">
      <h4>Marketing &amp; Preferences</h4>
      <dl class="fields ellipsis">
        <dt>Areas</dt><dd><%= areas_of_interest.join(', ') %></dd>
        <dt>Source</dt><dd><%= client.source && client.source.name %></dd>
        <dt>Orig source</dt><dd><%= client.original_source && client.original_source.name %></dd>
        <dt>Type</dt><dd><%= client.type && client.type.name %></dd>
        <!--<dt>Topic</dt><dd>(Unused)</dd>-->
        <dt>Marketing</dt>
				<dd>
					<%= client.marketing && client.marketing.name %>
					<%= " (#{ client.companies.map{|c|c.initials}.join(', ') })" unless client.companies.empty? %>
				</dd>
        <!--
				<dt>Freq. flyer</dt><dd><%= client.notes_frequent_flyer %></dd>
        <dt>Airline</dt><dd class="textarea"><%= client.notes_airline %></dd>
        <dt>Seating</dt><dd class="textarea"><%= client.notes_seating %></dd>
        <dt>Meals</dt><dd class="textarea"><%= client.notes_food %></dd>
        <dt>Other</dt><dd class="textarea"><%= client.notes_general %></dd>
				-->
				<dt>Preferences</dt>
				<dd>
					<small>
					<% unless client.notes_frequent_flyer.blank? %><em>Frequent flyer number:</em> <%= client.notes_frequent_flyer %>,<% end %>
					<% unless client.notes_airline.blank? %><em>Airline:</em> <%= client.notes_airline %>, <% end %>
					<% unless client.notes_seating.blank? %><em>Seating:</em> <%= client.notes_seating %>, <% end %>
					<% unless client.notes_food.blank? %><em>Meals:</em> <%= client.notes_food %>, <% end %>
					<% unless client.notes_general.blank? %><em>Other:</em> <%= client.notes_general %><% end %>
					</small>
				</dd>
      </dl>
    </div>

<!--</div>-->