<%

	# Unsuccessful experiments to sort by user_clients.updated_at: (See http://groups.google.com/group/datamapper/browse_thread/thread/1aa927f47e31113a)
	#@clients = @clients.all( Client.users.id => session.user.id ) #if params[:recent]
	#@clients = session.user.clients.all( :order => [ '' ] )
	#@clients = session.user.clients.all( :order => [ Client.user_clients.updated_at ] )
	#@clients = Client.all( :order => [ DataMapper::Query::Direction.new( UserClient.properties[:updated_at] ) ], :links => [:user_client] )
	#@clients = session.user.clients.all( :limit => 1000 ) if params[:recent]
	
	# When url parameter ?list=option is set then return custom list:
	return partial( 'shared/list', :collection => @clients ) if params[:list]

	
	
  #open_clients = session.user.recent_clients.all( UserClient.is_open => true, :limit => 10 )
  open_clients = session.user.open_clients.all( :limit => 10 )
	
	# Find out which client was in active tab last time the user used this app:
	selected_client = session.user.most_recent_client	#open_clients.first( UserClient.is_selected => true )
	select_id       = selected_client ? selected_client.id : 0

-%>

<%= error_messages_for :post %>

<div id="pageTabs" class="sectionContainer noSectionFoot tabsContainer">

    <div class="sectionHead">
      <ul id="pageTabsNav" class="primaryTabs ellipsis">

        <!-- Dashboard tab: -->
        <li class="dashboard-tab ui-tabs-selected"><a href="#tabDashboard">Home page</a></li>

        <!-- Tours tab: -->
        <li class="tours-tab"><%= link_to tag(:span,'Groups'), resource(:tours) %></li>

        <!-- Add client tab: -->
        <li class="client-create"><%= link_to icon(:add), "#{ resource( :clients, :new ) }", :title => 'New client' %></li>

        <!-- One tab for each open client: -->
        <% open_clients.each do |client| %>
          <li class="<%#= 'ui-tabs-selected' if client.id == select_id %>">
						<%= link_to client.shortname, resource(client) %>
						<%= link_to "x", "#{resource(client)}/close", :class => "close-tab", :title => "Close this client tab" %>
						<%# Note: The close-tab html must also be defined in the tabTemplate for #pageTabs in shared.js 
						%>
            <input type="hidden" value="<%= client.id %>" class="client-id" />
          </li>
        <% end %>

      </ul>
    </div>


		<div id="tabDashboard" class="sectionBody ajaxPanel">

			<!-- Tab contents for each client and the Dashboard: -->

			<div class="sectionContainer">

				<div class="sectionHead">
					<h2>
						<span class="ui-icon ui-icon-home"></span>
						Home page
					</h2>
				</div>
			
				<div class="sectionBody formSurround" style="overflow:hidden">

					<div id="dashboard-tabs" class="sectionContainer noSectionFoot tabsContainer ui-tabs-panel">

						<div class="sectionHead ui-tabs ui-widget ui-widget-content ui-corner-all">
							<ul class="tripPageTabsNav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
								<li><a href="#user-followups">My followups</a></li>
								<li><a href="#monthly-bookings-tab-content">Monthly bookings</a></li>
								<li><a href="#weekly-enquiries-tab-content">Weekly enquiries</a></li>
								<li><a href="#monthly-conversions-tab-content">Conversions (all enquiries)</a></li>
								<li><a href="#monthly-conversions-by-trip-tab-content">Conversions (all trips)</a></li>
								<!--
								<li><a href="#monthly-conversions-by-invoice-tab-content">Conversions (by Invoice date)</a></li>
								-->
							</ul>
						</div>

						<div id="user-followups" class="sectionBody">
							<%= partial 'tasks/index' %>
						</div>

						<div id="monthly-bookings-tab-content" class="ajaxPanel sectionBody">
							<%= partial 'dashboards/monthly_bookings' %>
						</div>
						
						<div id="weekly-enquiries-tab-content" class="ajaxPanel sectionBody">
							<%= partial "dashboards/weekly_enquiries" %>
						</div>
						
						<div id="monthly-conversions-tab-content" class="ajaxPanel sectionBody">
							<%= partial "dashboards/monthly_conversions" %>
						</div>
						
						<div id="monthly-conversions-by-trip-tab-content" class="ajaxPanel sectionBody">
							<%= partial "dashboards/monthly_conversions_by_trip" %>
						</div>
						
						<!--
						<div id="monthly-conversions-by-invoice-tab-content" class="ajaxPanel sectionBody">
							<%#= partial "dashboards/monthly_conversions_by_invoice" %>
						</div>
						-->
						
					</div>

					<div id="recentClients" class="tabs" style="width:35em;">

						<!--<ul>
							<li><a href="#myRecentClients">My recent clients</a></li>
							<li><a href="#allRecentClients">Everyone's recent clients</a></li>
						</ul>-->

						<!--<div id="myRecentClients">
							<ul class="clients">
								<%# clients = session.user.clients.all( :limit => 10 ) %>
								<%#= partial( 'shared/list', :collection => clients, :list_type => :li_link, :link_params => {:label=>:shortname} ) %>
							</ul>
						</div>-->

						<!--<div id="allRecentClients">
							<ul class="clients">
								<%# clients = Client.all( Client.user_clients.updated_at.not => nil, :limit => 10 ) %>
								<%#= partial( 'shared/list', :collection => clients, :list_type => :li_link, :link_params => {:label=>:shortname} ) %>
							</ul>
						</div>-->
						
						<!-- Autotext experiments: -->
						<%#= select :name => 'autotext_company', :multiple => :multiple, :collection => Company.all(:order=>[:name],:is_active=>true), :'data-href' => '/countries?autotext&company_id={value}&list=option', :'data-target' => "#autotext_country", :value_method => :id, :text_method => :name %>
						<%#= select :name => 'autotext_country', :multiple => :multiple, :collection => Country.all(:order=>[:name]), :value_method => :id, :text_method => :name %>
						
						<%#= link_to 'HTA test', 'file://C:\Documents and Settings\George\Desktop\Autotext.hta' 
						%>
						
					</div>

					<br/>
									
					<!--<dl class="accordion" style="width:25em;">

						<dt>My recent clients</dt>
						<dd>
							<ul class="clients">
								<%# clients = session.user.clients.all( :limit => 10 ) %>
								<%#= partial( 'shared/list', :collection => clients, :list_type => :li_link, :link_params => {:label=>:shortname} ) %>
							</ul>
						</dd>

						<dt>Everyone's recent clients</dt>
						<dd>
							<ul class="clients">
								<%# clients = Client.all( Client.user_clients.updated_at.not => nil, :limit => 10 ) %>
								<%#= partial( 'shared/list', :collection => clients, :list_type => :li_link, :link_params => {:label=>:shortname} ) %>
							</ul>
						</dd>

					</dl>-->

				</div>



				<!-- sectionFoot: -->
				<%= partial 'shared/sectionFoot_tags_open' %>

					<a href="/system" class="ui-priority-secondary ui-state-default left">
						<span class="ui-icon ui-icon-gear"></span>
						System admin...
					</a>

					<!--<a href="http://www.bugtails.com/projects/299" target="_tab" class="ui-priority-secondary ui-state-default left">
						<span class="ui-icon ui-icon-extlink"></span>
						Bug tracker
					</a>-->

					<%= link_to "#{ icon :heart } Web requests...", resource(:web_requests), :class => 'ui-priority-secondary ui-state-default left' %>

					<%= link_to "#{ icon 'mail-open' } Brochure merge...", resource(:brochure_requests, :brochure_merge => true ), :class => 'ui-priority-secondary ui-state-default left' %>

					<%= link_to "#{ icon 'script' } Reports...", resource(:reports ), :class => 'ui-priority-secondary ui-state-default left' %>

					<!--<a href="http://www.steppestravel.co.uk/login.aspx" target="_tab" class="ui-priority-secondary ui-state-default left">
						<span class="ui-icon ui-icon-extlink"></span>
						Steppes web site CMS
					</a>-->

				<%= partial 'shared/sectionFoot_tags_close' %>

			</div>

		</div>

    <!-- One DIV.sectionBody will be inserted here for each client tab page: -->

	</div>

</div>