<%
	max_trips_to_show   = 4		# Limit view to most recent n trips only.
	#visible_trips_count = ( max_trips_to_show < @client.active_trips.length ) ? max_trips_to_show : @client.active_trips.length
%>
<div class="sectionContainer clientSummary fieldsetGrid" id="<%= nested_resource(@client,true) %>summary">
	
	<!-- TOTAL-SPEND is included here so that js can update total_spend field at top of client page when page loads: -->
	<%= hidden_field :'data-resource' => resource(@client), :'data-field' => 'client[total_spend]', :value => @client.total_spend.to_currency(:uk) %>

	<div class="sectionHead">
		<h3>
			<span class="ui-icon ui-icon-client"></span>
			Client details for
			<%= @client.fullname %>
			<%= tag :small, "- known as #{ @client.known_as }" unless @client.known_as.blank? %>
		</h3>
	</div>

	<div class="sectionBody">

		<div class="fieldsetRow clientSummary">
			<%= partial 'clients/summary', :client => @client %>
		</div>

		<div class="fieldsetRow">

      <!-- LHS -->
			<div class="fieldset widthHalf">
				<h4>
					<span class="ui-icon ui-icon-date"></span>
					Client's history
				</h4>
				<%= partial 'clients/history', :client => @client %>
			</div>

      <!-- RHS -->
			<div class="fieldset widthHalf" style="height:200px;">

			  <div id="<%= "#{ nested_resource(@client,true) }notes" %>" class="ajaxPanel sectionContainer noSectionHead">
  				<%= partial 'notes/index', :notes => @client.notes %>
  			</div>			  

			  <!--
				<h4>
					<span class="ui-icon ui-icon-trip"></span>
					Trips
				</h4>
				<div id="<%= nested_resource(@client,:trips,true) %>summary">

					<%= tag :small, :class => 'labelAboveAccordion' do
							link_to "show all #{ @client.active_trips.length } trips here", resource(@client, :trips), :rel => '#'+nested_resource(@client,:trips,true)+'summary'
						end if @client.active_trips.length > max_trips_to_show
					%>

					<%#= partial 'trips/trips_summary', :client => @client, :trips => @client.active_trips.all( :limit => max_trips_to_show ) %>

				</div>
			  -->
			</div>

		</div>

	</div>
	
	<% if @client.id %>
		<div class="sectionFoot ui-widget">
			<div class="buttonBar ui-dialog-buttonpane ui-widget-content xui-widget-header ui-corner-all ui-helper-clearfix">

				<%= link_to 'Add a client with same address...',	"#{ resource :clients, :new, :copy_client_id => @client.id }", :class => 'ui-priority-secondary ui-state-default left' %>
				<%= link_to 'Edit client details...',							"#{ resource @client, :edit }#name", :class => 'ui-priority-primary ui-state-default' %>
			
			</div>
		</div>
	<% end -%>

</div>