<%

	companies_list				= Company.all( :order => [:is_active.desc, :name] )
	companies_list				= companies_list.all( :is_active => true ) unless params[:show_old]
	selected_company_id		= params[:company_id] || session.user.company_id
	number_of_tours_shown	= 0
	
	@tours = @tours.all( :order => [ :name, :id.desc ] )
	@tours = @tours.all( :company_id => selected_company_id ) if selected_company_id

	@cached_trips = Trip.all( :id => @tours.map{|t|t.id}, :order => [ :tour_id.desc, :status_id, :start_date.desc, :created_at.desc ] )
	# The @cached_trips collection was an attempt to speed up loading and prevent DM from querying trips for each tour one by one.
	# It worked but actually turned out slower because ruby takes longer to find trips by tour_id than sql does.
	# @cached_trips.map{|t|t.id}

	# TODO: Depricate the css classes that were used for hiding old tours. "hide-old-trips"
	
-%>
<div class="sectionContainer tours">

		<div class="sectionHead">

			<%# check_box :label => "Show old trips", :id => "tours_show_old_trips", :checked => false, :class => 'right widthAuto' 
			%>

			<h2>
				<span class="ui-icon ui-icon-group"></span>
				Groups &amp; Tours
			</h2>

		</div>


		<div class="sectionBody formSurround">

			<div class="sectionContainer noSectionFoot">

				<div class="sectionHead formFieldsInline">

					<%= form :action => resource(:tours), :method => :get, :class => 'auto-submit' do %>

						<%= select		:name => :company_id, :label => 'Filter by',       :collection => companies_list, :selected => selected_company_id.to_s, :value_method => :id, :text_method => :display_name %>
						<%= check_box :name => :show_old,		:label => 'Show old groups', :checked => params[:show_old], :value => true %>
						<%= submit		'Refresh' %><!-- Submit button is hidden automatically when in an auto-submit form. -->

					<% end =%>

				</div>

				<div class="sectionBody">

					<dl class="tours-list <%= 'hide-old-trips' unless params[:show_old] %>">

						<% @tours.each do |tour| %>

							<%
								#tour_trips = @cached_trips.all( :tour_id => tour.id )
								tour_trips				= tour.trips.all( :is_active_version => true )
								
								# Assume tour is old if it only has completed trips:
								tour_has_no_trips = tour_trips.empty?
								tour_is_relevant	= params[:show_old] || tour_has_no_trips || tour_trips.all( :end_date.gte => Date.today ).count > 0
							%>

							<% if tour_is_relevant %>

								<% number_of_tours_shown += 1 %>

								<dt class="tour <%= 'tour-has-no-trips' if tour_has_no_trips %> <%= 'tour-is-old' unless tour_is_relevant %>">
									<%= icon :group %>
									<%= link_to tour.name, resource( tour ), :class => 'tour-name' %>
									<small class = "tour-notes"><%= tour.notes %></small>
								</dt>

								<dd class="<%= 'tour-has-no-trips' if tour_has_no_trips %> <%= 'tour-is-old' unless tour_is_relevant %>">

									<% if tour_trips.empty? %>

										<p class="no-trips">No trips have been created for this tour</p>

									<% else %>

									<ul class="trips-list">

										<% tour_trips.each do |trip| -%>

											<% if params[:show_old] || trip.unconfirmed? || trip.confirmed? %>

												<li class="trip trip-<%= trip.status_code %>">
													<%= icon :trip %><span class="trip-name"><%= trip.title %></span>
													<small class="summary"> <%= trip.summary(true) %></small>
												</li>

											<% end -%>

										<% end -%>

									</ul>

									<% end %>

								</dd>

							<% end %>

						<% end %>

					</dl>

					<% if number_of_tours_shown == 0 %>

						<br/>
						<p>
							Well I had a look but didn't find any tours
							<%= " for #{ Company.get(selected_company_id).name }" if selected_company_id %>
							<%= ". There were't even any old ones"								if params[:show_old]   %>
							.
						</p>

					<% end -%>

				</div>

			</div>					
					
	 </div><!-- end of _clientPage sectionBody -->

	 <div class="sectionFoot formSurround">
		<div class="buttonBar ui-dialog-buttonpane ui-widget-content">

			<%= link_to "Add a new group name...", resource( :tours, :new ), :class => 'ui-priority-secondary ui-state-default left' %>

		</div>
	 </div>
</div>