<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
	<title>
		Steppes CRM Database
		<%= " (#{ Merb.environment })" unless Merb.environment == 'production' %>
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/images/icons/icon.trip.png" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/icons/icon.trip.png" type="image/x-icon" />
	<link rel="stylesheet" href="/stylesheets/all.css" type="text/css" media="all" charset="utf-8" />
</head>
<body class="sectionContainer noSectionFoot nojs">

	<div id="messages" class="ui-widget">
		<%# This custom comment tag is a workaround allowing us to parse the messages out of the server response when Firefox on Windows occasionally receives entire page in ajax response! %>
		<!--<MESSAGES>-->
		<h2 class="noticeMessage ui-state-highlight ui-corner-all" style="display:none"><%= message[:notice].gsub(/\n/,'<br/>') if message[:notice] %></h2>
		<h2 class="errorMessage ui-state-highlight ui-corner-all"  style="display:none"><%= message[:error ].gsub(/\n/,'<br/>') if message[:error]  %></h2>
		<!--</MESSAGES>-->
	</div>

	<img id="ajax-progress" src="/images/ajax.large.gif" alt="Animation while waiting for system to respond"/>

  <div id="pageHeader" class="sectionHead">

    <h1 id="pageHeading">
			Steppes CRM <%#= params[:company_code] %>
			<%= tag :small, "('#{ Merb.environment }' database)" unless Merb.environment == 'production' %>
		</h1>

    <% if session.user %>

			<p id="loginStatus">
				<%= fields_for session.user do -%>
					<small>
						Signed in as <%= session.user.forename %>
						<%= link_to 'Sign out', '/logout', :id => 'logout', :class => 'noajax' %>
					</small>
					<%= hidden_field :id %>
				<% end =%>
			</p>

			<label for="mainSearchText">Search</label>
			<input type="search" id="mainSearchText" class="text" accesskey="F" title="Shortcut key: Alt+Shift+F" placeholder="Client Search" maxlength="35" />

		<% end %>

  </div>

  <div id="pageContent" class="sectionBody">
		<%# This customised <DATA> comment tag is a workaround allowing us to parse the content out of the server response when Firefox on Windows occasionally receives entire page in ajax response! %>
    <!--<DATA>-->

		<%= catch_content :for_layout %>

		<!--</DATA>-->
  </div>

	<!-- Somewhere to output the results of Unit tests: (hidden by default) -->
	<div id="qunit-console" style="display:none;">
		<h1 id="qunit-header">Running automated qunit tests...</h1>
		<h2 id="qunit-banner"></h2>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
	</div>


	<!--<script type="text/javascript" src="/javascripts/jquery/jquery-1.3.2.js"></script>--><!-- MODIFIED version of jquery! -->
	<!--<script type="text/javascript" src="/javascripts/jquery/jquery-1.4.1.js"></script>--><!-- v1.4.1 bugs on trip tabs! -->
	<script type="text/javascript" src="/javascripts/jquery/jquery-1.4.2.js"></script>

	<script type="text/javascript">
		// Silly check to remind people to use FIREFOX!
		if( !jQuery.browser.mozilla ){
			alert("Lovely to see you, though I do think we could be so much happier together in Firefox ;o)")
		}
	</script>

	<script type="text/javascript" src="/javascripts/helpers.js"></script>
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/js/jquery-ui-1.7.2.custom.min.js"></script>-->
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/development-bundle/ui/ui.tabs.js"></script>-->
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.4/js/jquery-ui-1.8.4.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.4/development-bundle/ui/jquery.ui.tabs.js"></script>
	<script type="text/javascript" src="/javascripts/helpers.ui.js"></script><!-- Custom extensions for jquery-ui -->
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/jquery-ui-1-8rc1/ui/minified/jquery.ui.core.min.js"></script>-->
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/jquery-ui-1-8rc1/ui/minified/jquery.ui.widget.min.js"></script>-->
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/jquery-ui-1-8rc1/ui/minified/jquery-ui.min.js></script>-->
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/jquery-ui-1-8rc1/ui/jquery.ui.tabs.js"></script>-->
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/jquery-ui-1-8rc1/ui/minified/jquery.ui.accordion.min.js"></script>-->
	<!--<script type="text/javascript" src="/javascripts/jquery-ui/jquery-ui-1-8rc1/ui/minified/jquery.ui.datepicker.min.js"></script>-->
	<script type="text/javascript" src="/javascripts/jquery-daterangepicker/js/daterangepicker.jquery.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-autocomplete/jquery.autocomplete.js"></script><!-- MODIFIED to accept extra useFormatItemAsIs option for customising <li> markup --> 
	<script type="text/javascript" src="/javascripts/jquery-mousewheel/jquery.mousewheel.min.js"></script><!-- MODIFIED to provide event.delta property when using live() binding. http://brandonaaron.net/code/mousewheel/demos -->
	<script type="text/javascript" src="/javascripts/jquery-spinbox/jquery.spinbox.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-callout/jquery.callout.js"></script><!-- http://plugins.jquery.com/project/callout -->
	<script type="text/javascript" src="/javascripts/jquery-form/jquery.form.js"></script><!-- http://malsup.com/jquery/form -->
	<script type="text/javascript" src="/javascripts/jquery-mvc/jquery-mvc.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-textarearesizer/jquery.textarearesizer.min.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

	<script type="text/javascript" src="/javascripts/shared.js"></script>
	<script type="text/javascript" src="/javascripts/trip_elements.js"></script>

	<!-- The following scripts are not required immediately: -->
	<script type="text/javascript" src="/javascripts/jquery-checkboxlist/checkboxList.jquery.js" defer="defer"></script>
	<script type="text/javascript" src="/javascripts/jquery-qtip/jquery.qtip-1.0.0-rc3.min.js" defer="defer"></script><!-- http://craigsworks.com/projects/qtip -->
	<script type="text/javascript" src="/javascripts/jquery-imgsize/jquery.imgsize.js" defer="defer"></script>
	<script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/" defer="defer"></script>

	<script id="tmpl-for-task" type="text/x-jquery-tmpl">
		<tr>
			<td>20/06/2011</td>
			<td class="nowrap"><span class="ui-icon ui-icon-clock " title="Status: Open"></span> <a href="/clients/2138590478/tasks/158199/edit">Task</a></td>
			<td>George Adamson</td>
			<td><small>Followup flight option for A lovely new trip </small></td>
		</tr>
	</script>

	<% if Merb.environment == 'development' %>
		<!-- For testing only: -->
		<script type="text/javascript" src="/javascripts/testing/qunit.js" defer="defer"></script>
		<script type="text/javascript" src="/javascripts/testing/test-specs.js" defer="defer"></script>
	<% end -%>

</body>
</html>