
<% trip = @trip %>

<h3 class="tripHeading">
  <span class="tripName">
    <%= trip.name %>
  </span>
  <small>
    (&pound;<span class="tripTotalSpend"><%= trip.total_spend %></span>)
     <%= trip.dateSummary %> - <%= trip.travellerSummary %>
  </small>
</h3>

<%# http://calamitylane.com/articles/programming/select-tag-funkyness-with-merb/ %>
<div class="tripVersion">
  <%= select :activeTripId, :class=>"tripVersion", :label=>"Trip version", :selected=>trip.versionActiveTripId.to_s, :collection=>trips.all(:versionActiveTripId => trip.versionActiveTripId), :value_method=>:id, :text_method=>:versionName %>
</div>

<div class="tripContent" class="ui-tabs">
  
  <ul class="tripTabs ui-tabs-nav">
    <li class=""><a href="#tabTrip<%= trip.id %>Summary">Trip summary</a></li>
    <li class=""><a href="#tabTrip<%= trip.id %>Builder">Trip builder</a></li>
    <li class=""><a href="#tabTrip<%= trip.id %>Itinerary">Itinerary</a></li>
    <li class=""><a href="#tabTrip<%= trip.id %>Documents">Documents</a></li>
    <li class=""><a href="#tabTrip<%= trip.id %>Financials">Money</a></li>
  </ul>

  <div id="tabTrip<%= trip.id %>Summary" class="ui-tabs-panel">
    Trip summary TBD
  </div>
  <div id="tabTrip<%= trip.id %>Builder" class="ui-tabs-panel">
    Trip builder TBD
  </div>
  <div id="tabTrip<%= trip.id %>Itinerary" class="ui-tabs-panel">
    Trip itinerary TBD
  </div>
  <div id="tabTrip<%= trip.id %>Documents" class="ui-tabs-panel">
    Trip documents TBD
  </div>
  <div id="tabTrip<%= trip.id %>Financials" class="ui-tabs-panel">
    Trip financials TBD
  </div>

</div>