<!-- Render one photo in thumbnail gallery: -->

<% if photo %><%# EDIT: %>

  <li class="thumbnail ellipsis">
    <a class="thumbnail ajax edit" href="<%= resource(photo, :edit, :tags=>photo.tags.downcase) %>" rel="#imageSelector" title="<%= "Tags: #{photo.tags}" %>">
      <img class="thumbnail <%= photo.resolution %>" src="<%= photo.url %>" alt="<%= photo.name %>" />
    </a>
    <label title="<%= photo.name %>"><%= photo.name %></label>
    <input type="text" class="hidden" value="<%= photo.name %>"/>
    <input type="text" class="hidden" name="photo_id[<%= photo.id %>]" value="<%= photo.id %>"/>
  </li>

<% else %><%# NEW: %>

  <li class="thumbnail ellipsis new">
    <a class="thumbnail ajax new" href="<%= resource(:photos, :new, :folder=>folder, :tags=>tags.downcase) %>" rel="#imageSelector" title="<%= "Add image" %>">
      <img class="thumbnail" src="/images/image.add.jpg" alt="" title="<%= "Add image" %>" />
    </a>
    <label title="Photo">Add a photo</label>
    <input type="text" class="hidden" value="Add a photo"/>
  </li>

<% end %>