<%# TODO: Tidy this up. It was written rather hastily!
%>

<style>
	.error H2 { font-size:1.0em; }
</style>

<div style="text-align:center;">
<br/>
<br/>
<div style="width:18em;display:inline-block;background-color:#EFEDDE;padding:2em;-moz-border-radius:1em;">

<h2>Welcome to the Steppes CRM</h2>
<br/>
<p>Please log in by providing your user name and password</p>
<br/>

  <%= error_messages_for session.authentication %>
	<br/>

  <% @login_param = Merb::Authentication::Strategies::Basic::Base.login_param %>
  <% @password_param = Merb::Authentication::Strategies::Basic::Base.password_param %>

<form action="<%= slice_url(:merb_auth_slice_password, :perform_login) %>" method="POST" accept-charset="utf-8" class="noajax">

	<input type="hidden" name="_method" value="PUT" />

	<div class="formField">
		<label for="<%= @login_param.to_s %>">User name</label>
		<input type="text" name="<%= @login_param.to_s %>" value="<%= params[:login] %>" id="<%= @login_param.to_s %>"/>
	</div>

	<div class="formField">
		<label for="<%= @password_param.to_s %>">Password</label>
		<input type="password" name="<%= @password_param.to_s %>" value="<%= params[:password] %>" id="<%= @password_param.to_s %>"/>
	</div>

	<br/>
	<div class="buttonBar">
		<small><a href="http://database" style="color:#000;">Open the old database</a> or </small>
		<input type="submit" name="Submit" value="Log in" id="Submit" class="save">
	</div>

</form>

</div>
</div>