<% @trip ||= trip %>

<table class="flightSchedule" cellpadding="0" cellspacing="0">

	<caption>Your flight schedule</caption>

	<% if @trip.flights.empty? %>
	
		<thead><tr><th colspan="6">No flights have been prepared for this trip</th></tr></thead>
	
	<% else %>
	
		<thead>
			<tr>
				<th>Date</th>
				<th>Route</th>
				<th>Flight</th>
				<th>Check in</th>
				<th>Depart</th>
				<th>Arrive</th>
			</tr>
		</thead>

		<tbody>
			<% @trip.flights.each do |flight| %>

			<tr>

				<%= tag :td, flight.start_date.strftime_ordinalized('%a %d %b') %>

				<%= tag :td, "#{ flight.depart_airport.name if flight.depart_airport } / #{ flight.arrive_airport.name if flight.arrive_airport }" %>

				<%= tag :td, flight.flight_code %>

				<%= tag :td, flight.check_in_time || 'TBC' %>

				<%= tag :td, flight.start_time || 'TBC' %>

				<%= tag :td, "#{ flight.end_time || 'TBC' }#{ '*' if flight.arrive_next_day }" %>

			</tr>

			<% end %>
		</tbody>

	<% end %>
		
</table>