<% @trip ||= trip %>

<table class="quickItinerary" cellpadding="0" cellspacing="0">

	<caption>Quick reference itinerary</caption>

	<thead>
		<tr>
			<th style="width:10em">
			&nbsp;
			</th>
		</tr>
	</thead>
	
	<tbody>
		<% @trip.days.each do |day| %>
		<tr>

			<td>
				Day <%= day.number %>
				<br/><%= day.date.strftime_ordinalized('%a %d %b') %>
				<br/><br/>
			</td>


			<td>
				<ul>
				<% day.elements.each do |element| %>

					<li>
						<%= element.name %>: <%= element.supplier.name %>
						<%= "(#{ element.description })" unless element.description.blank? %>
					</li>

				<% end %>
				</ul>
				<br/>
			</td>
			
		</tr>
		<% end %>
	</tbody>

</table>