<style type="text/css">

	.reportPage .sectionContainerLeft {
		width:20em;
	}
	.reportPage .sectionContainerRight {
		left:21em;
		right:1em;
	}

	.reportPage > FORM > .sectionHead,
	.reportPage > FORM > .sectionBody,
	.reportPage > FORM> .sectionFoot {
		left:1em;
	}
	
	/* Attempt to align list text with heading text: */
	.reportPage #report_source {
		height:1.5em;
		padding-top:0.1em;
		margin-top:0.4em;
	}

	/* We still want value to be readable when list is disabled: */
	.reportPage #report_source[disabled] {
		color:#000;
	}

	.reportTabsPanel > .sectionBody {
		xpadding:1em;
	}

	.reportTabsPanel > .sectionBody .ui-tabs-panel {
		background-color:#fff;
	}

	.reportTabsPanel .ui-tabs-panel {
		border:1px solid #aaa;
	}

	.reportTabsPanel .formField.checkbox input[type="checkbox"] {
		margin-left:0;
	}

	.reportTabsNav LI:first-child {
		margin-right:4em;
	}

	.reportTabsNav LI:first-child.ui-state-default {
		background:transparent;
		border-color:transparent;
	}

		.reportTabsNav LI:first-child.ui-state-default A {
			color:#000;
			text-decoration:underline;
		}

	.report-results-table-container {
		overflow-x:auto;
	}

	#reportFields .checkboxList {
		margin:0;
	}

	#reportFields .checkboxList .formField {
	margin:0;
	}

	#reportFields, DIV#reportFilters {
		background-color:#fff;
		margin:0em;
		padding:1em;
	}

	#reportFields .formField LABEL {
		font-weight:normal;
		width:12em;
	}

	
	.reportPage .formField																			{ display:inline-block; }
	.report-filter .formField SELECT														{ width:13em; }
	
	.report-filter .formField.filter-value LABEL								{ width:1.5em; }
	.report-filter .formField.filter-value INPUT[type="text"]		{ width:8.5em; }
	
	/* No need to show 'or' label on the first filter value: */
	.report-filter .filter-value-box:nth-child(3) LABEL								{ display:none; }
	.report-filter .filter-value-box:nth-child(3) INPUT[type="text"]	{ width:10em; }
	
	/* TODO: hide the "x" button when there is only one filter left: We'd need to adjust markup to do this through css: */
	/* .reportPage .report-filter:only-child .filter-value-box .delete-filter-value { opacity:0.5; } */
	
	
	.reportPage H3 {
		line-height:1.5em;
	}


	/* Don't show filter-add button in the normal filters: */
	.report-filter .add {
		display:none;
	}

	/* Only show add-filter button in the template filter: */
	.report-filter-template .add {
		display:block;
	}

	/* Hide "and" text in the template filter: */
	.report-filter-template .and {
		xdisplay:none;
	}

	
	.reportPage .ui-accordion-header,
	.reportPage .ui-accordion-content {
		border:none;
	}
	
	/* Hide the green add-filter-value buttons for the time being: */
	.reportPage .add-filter-value {
		display:none;
	}
	
	
	TABLE.report-results TBODY TR:hover TD {
		background-color:#EFEDDE;
	}
	
	TABLE.report-results TFOOT TH {
		border-color:#aaa;
		border-style:solid;
		border-width:1px 0 1px 0;
	}
	
</style>

	<div class="sectionBody" style="top:5em;">

		<div class="reportTabsPanel sectionContainer sectionContainerLeft noSectionHead">

			<div class="sectionHead">
			</div>

			<div class="sectionBody">

				<ul class="reportTabsNav">
					<!-- Note: The "ui-state-default" class is not necessary but reduces the FOUC before tabs are initialised -->
					<li class="ui-state-default"><a href="#reportIndex">All reports</a></li>
					<li class="ui-state-default ui-tabs-selected"><a href="#reportFields">Fields</a></li>
					<li class="ui-state-default"><a href="#reportFilters">Filters</a></li>
				</ul>

				<!-- INDEX: -->
				<div id="reportIndex">
					<%= partial 'reports/list', :report => @report %>
				</div>

				<!-- FIELDS: -->
				<div id="reportFields">
					<%= partial 'reports/fields', :report => @report %>
				</div>

				<!-- FILTERS: -->
				<div id="reportFilters">
					<%= partial 'reports/filters', :report => @report %>
				</div>

			</div>
		
			<div class="sectionFoot">

				<div class="buttonBar ui-dialog-buttonpane ui-widget-content">
					<%= link_to "New report", resource(:reports,:new), :class => 'ajax left ui-priority-secondary ui-state-default', :rel => '#report-page' %>
					<%# Important: The controller checks the name of the submit button to decide how to react: %>
					<%= submit 'Run this report', :class => 'ajax ui-priority-primary ui-state-default', :name => 'run_report', :rel => '#reportResults' %>
				</div>

			</div>	

		</div>

		<div class="reportResults sectionContainer sectionContainerRight noSectionHead">

			<div id="reportResults" class="sectionBody formSurround">

					<br/>
					<h3>Go ahead, choose some fields and then Run this report.</h3>
					<br/>
					<p>You can also narrow your results down by choosing some filters.</p>

			</div>

			<div class="sectionFoot formSurround">

				<div class="buttonBar ui-dialog-buttonpane ui-widget-content">
					<%# Important: The controller checks the name of this submit button to decide how to react: %>
					<%= submit  "Save this report", :class => 'ajax ui-priority-secondary ui-state-default', :name => 'save_report', :rel => '#report-page' %>
					<%= link_to "#{ icon :delete  } Delete this report", resource( @report, :delete),	:rel => '#report-page',	:class => "ajax ui-priority-secondary ui-state-default" unless @report.new?	%>
					<%= link_to "#{ icon :extlink } Export to Excel",    resource( @report, :format => :csv ),	:target => '_tab', :class => "noajax ui-priority-secondary ui-state-default" unless @report.new?	%>
				</div>

			</div>

		</div>

	</div>

