
<div id="report-page" class="sectionContainer reportPage noSectionFoot">

	<%= form_for @report, :action => resource( @report ) do %>

		<div class="sectionHead">
			<h2>
				<span class="ui-icon ui-icon-script"></span>
				<!-- This hidden field allows the server to know when the source has been changed: -->
				<%#= hidden_field  :name => :old_report_source, :value => @report.source %>
				<%= hidden_field  :id %>
				<%= select				:source, :label => 'Report based on',	:class => 'auto-submit stealth widthAuto',	:collection => @report.sources_list, :rel => '#report-page', :disabled => (!!@report.id) %>
				<%= text_field		:name,																:class => 'width2Fields stealth', :title => 'The title of this report' %>
			</h2>
		</div>

		<%= partial 'reports/form', :report => @report %>

	<% end =%>

</div>