
<div id="report-page" class="sectionContainer reportPage noSectionFoot">

	<%= form_for @report, :action => resource( :reports ) do %>

		<div class="sectionHead">
			<h2>
				<span class="ui-icon ui-icon-script"></span>
				<!-- This hidden field allows the server to know when the source has been changed: -->
				<%= hidden_field  :name => :old_report_source, :value => @report.source %>
				<%= select				:source, :label => 'New report based on',	:class => 'auto-submit widthAuto',	:collection => @report.sources_list, :rel => '#report-page' %>
				<%= text_field		:name,																		:class => 'width2Fields', :title => 'This is the name of the report that you will see in the list of "All reports" after saving it' %>
			</h2>
		</div>

		<%= partial 'reports/form', :report => @report %>

	<% end =%>

</div>